<!--<div class="container" id="profilePage">-->
    <div class="pageLayout">
         <div class="row" >
           
        <div class="col-md-3 col-sm-12 col-12 order-2 order-md-1">
            <sidebar [friends]="network" [loggedin]="loggedin" [user]="id" [context]="'profile'" [name]="name" [me]="me"></sidebar>
        </div>

        <div class="col-md-6 col-12 order-1 order-md-2">
            <div id="profileContainer" *ngIf="loadsuccessful">

                <!-- Header container with user info -->
                <div class="aboutContainer">

                    <div>
                        <div *ngIf="pictype == 'fb'">
                            <img src="https://graph.facebook.com/{{pic}}/picture?width=120&height=120" class="profilePicture">
                        </div>
                        <div *ngIf="pictype == 'local'">
                            <img [src]="pic" class="profilePicture"/>
                        </div>
                        <div *ngIf="pictype == 'default'">
                            <img *ngIf="gender == 'male'" src="/images/male.png" class="profilePicture"/>
                            <img *ngIf="gender == 'female'" src="/images/female.png" class="profilePicture"/>
                        </div>
                    </div>

                    <!-- <div> -->
                        <div class="profileInfo">
                            <h3 class="name">{{name}}</h3>
                            <h5 class="location">{{location}}</h5>
                            <div style="display: flex;">
                                <i class="stats fa fa-pencil-square-o" aria-hidden="true">&nbsp;<span>{{nocreated ? nocreated : '0'}}</span></i>
                                <i class="stats fa fa-pencil" aria-hidden="true">&nbsp;<span>{{notaken ? notaken : '0'}}</span></i>
                                <i class="stats fa fa-comments" aria-hidden="true">&nbsp;<span>{{nodiscussion ? nodiscussion : '0'}}</span></i>
                            </div>
                            <div *ngIf="(loggedin && !innetwork && !pending && !me) || pending" style="margin-top: 4px">
                                <a class="submitButton" (click)="onAddToNetwork(id)" *ngIf="loggedin && !innetwork && !pending && !me">Add To Network</a>
                                <a class="submitButton" *ngIf="pending">Request Pending</a>
                            </div>
                        </div>

                        <div class="profileMenu">
                            <div>
                                <div ngbDropdown placement="bottom-right" class="mouseChangeToHand" *ngIf="loggedin && !me">
                                    <a
                                            class="navlinks nav-link custom-dropdown-toggle"
                                            id="profile-menu"
                                            ngbDropdownToggle
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                    </a>
                                    <div ngbDropdownMenu aria-labelledby="profile-menu">
                                        <!--<a class="dropdown-item" (click)="onAddToNetwork(id)" *ngIf="!innetwork && !pending && !me" >Add to my network</a>-->
                                        <!--<div *ngIf="pending">Network request is pending</div>-->
                                        <a class="dropdown-item" (click)="removeFromNetwork(id)" *ngIf="innetwork && !me" >Remove from my network</a>
                                        <a class="dropdown-item" (click)="reportUser(id)" *ngIf="!me" >Report user</a>
                                    </div>
                                </div>
                                <div *ngIf="addfailed">failed..</div>
                            </div>
                        </div>
                    <!-- </div> -->
                    
                </div>



                <!-- Feed content and other -->
                <!-- <div class="d-none d-sm-block"> -->
                <div class="">
                    <div *ngIf="!subsection"  style="margin-top:20px">
                        <div *ngIf="status == '2'" class="aboutContainer"><h6 class="location" style="text-align: center; width: 100%;">{{name}} has a private profile.<br/>Only individuals in {{pronoun}} network can see further details.</h6></div>
                        <feed-list [emptyMessage]="noPostsMessage" [user]="id" *ngIf="!hidefeed"></feed-list>
                    </div>
                    <div *ngIf="subsection" class="container">
                        <div class="row">
                            <div class="col">
                                <h3 style="text-transform: capitalize">{{subsection}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <resource-list [resource]="subsectionResource" [list]="subsectionList"></resource-list>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="aboutContainer" id="profileContainer" *ngIf="!loadsuccessful && !loading">
                <div id="topJumbo" class="aboutContainer">
                    <h2 style="overflow: auto" class="location">This profile could not be found!</h2>
                    <p class="location">Connect with a community of people to get all your questions answered!</p>
                </div>
            </div>
        </div>

        <!-- <div class="col-xl-2 offset-xl-0 col-md-7 offset-md-3 order-3 order-sm-3" id="rightSideOfContainer">
            <feedback-form *ngIf="loggedin"></feedback-form>
        </div> -->


    </div>
</div>
