<!--<div class="container" id="profilePage">-->
    <div class="row">
        <div class="col-md-3 order-2 order-sm-1" id="leftSideOfContainer">
            <div class="row">
                <community-list class="col-12 order-2 order-sm-2" [user]="id" *ngIf="!hidetags"></community-list>                
                <network-list class="col-12 order-1 order-sm-1" [data]="network" [user]="id" *ngIf="!hidetags && network.length != 0"></network-list>
                <div class="col-12 d-md-none order-3">
                    <div class="container">
                        <div *ngIf="status == '2'"><h6>{{name}} has a private profile. Only individuals in {{pronoun}} network can see further details. </h6></div>
                        <feed-list class="row" [user]="id" *ngIf="!hidefeed"></feed-list>
                    </div>
                </div>   
                <tag-list class="col-12 order-4 order-sm-3" [user]="id" [comm]="null" *ngIf="!hidetags"></tag-list>
            </div>
        </div>

        <div class="col-md-7 order-1 order-sm-2">
            <div class="container" id="profileContainer" *ngIf="loadsuccessful">
                <div class="row">
                    <div class="col-3 col-sm-4 col-md-4 col-lg-4 col-xl-2.5" id="ProfilePicture">
                        <div id="Profile">
                            <div *ngIf="pictype == 'fb'">
                                <img src="https://graph.facebook.com/{{pic}}/picture?width=120&height=120">
                            </div>
                            <div *ngIf="pictype == 'local'">
                                <img [src]="pic" height="120" width="120"/>
                            </div>
                            <div *ngIf="pictype == 'default'">
                                <img *ngIf="gender == 'male'" src="/images/male.png" height="120" width="120"/>
                                <img *ngIf="gender == 'female'" src="/images/female.png" height="120" width="120"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 col-sm-8 col-md-8 col-lg-8 col-xl-9.5 p-0" id="ProfileName">
                        <div class="row">
                            <div class="col-9 col-sm-9 col-md-9 col-lg-10 col-xl-11">
                                <h3>{{name}}</h3>
                            </div>
                        </div>
                        <h5>{{location}}</h5>
                        <h6><i class="fa fa-pencil-square-o" aria-hidden="true">&nbsp;{{nocreated}}</i>  <i class="fa fa-pencil" aria-hidden="true">&nbsp;{{notaken}}</i>  <i class="fa fa-comments" aria-hidden="true">&nbsp;{{nodiscussion}}</i></h6>
                    </div>
                    <button type="button"
                            class="btn btn-success btn-sm addToNetwork"
                            (click)="onAddToNetwork(id)" *ngIf="loggedin && !innetwork && !pending && !me">Add To Network
                    </button>
                    <button type="button"
                            class="btn btn-success btn-sm addToNetwork" *ngIf="pending" >Network request is pending
                    </button>
                    <div id="ProfileName">
                        <div ngbDropdown placement="bottom-right" class="mouseChangeToHand" id="profile-menu-wrapper" *ngIf="loggedin && !me">
                            <a
                                    class="navlinks nav-link custom-dropdown-toggle"
                                    id="profile-menu"
                                    ngbDropdownToggle
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="profile-menu">
                                <!--<a class="dropdown-item" (click)="onAddToNetwork(id)" *ngIf="!innetwork && !pending && !me" >Add to my network</a>-->
                                <!--<div *ngIf="pending">Network request is pending</div>-->
                                <a class="dropdown-item" (click)="removeFromNetwork(id)" *ngIf="innetwork && !me" >Remove from my network</a>
                                <a class="dropdown-item" (click)="reportUser(id)" *ngIf="!me" >Report user</a>
                            </div>
                        </div>
                        <div *ngIf="addfailed">failed..</div>
                    </div>
                </div>
                <hr class="d-none d-sm-block">
                <div class="d-none d-sm-block">
                    <div *ngIf="!subsection">
                        <div *ngIf="status == '2'"><h6>{{name}} has a private profile. Only individuals in {{pronoun}} network can see further details. </h6></div>
                        <feed-list class="row" [user]="id" *ngIf="!hidefeed"></feed-list>
                    </div>
                    <div *ngIf="subsection" class="container">
                        <div class="row">
                            <div class="col">
                                <h3 style="text-transform: capitalize">{{subsection}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <resource-list [resource]="subsectionResource" [list]="subsectionList"></resource-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="profileContainer" *ngIf="!loadsuccessful && !loading">
                <div id="profileContainer" class="container">
                    <div id="topJumbo" class="jumbotron">
                        <h2 style="overflow: auto" class="display-4">This profile could not be found!</h2>
                        <p class="lead">Connect with a community of people to get all your questions answered!</p>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-xl-2 offset-xl-0 col-md-7 offset-md-3 order-3 order-sm-3" id="rightSideOfContainer">
            <feedback-form *ngIf="loggedin"></feedback-form>
        </div>
    </div>
<!--</div>-->
