<div class="pageLayout">
    <div class="row">

        <div class="col-md-3 order-2 order-sm-1">
            <!-- <sidebar [friends]="network" [loggedin]="loggedin" [user]="id" [context]="'profile'" [name]="name" [me]="me"></sidebar> -->
        </div>

        <div class="col-md-6 order-1 order-sm-2">
            <div *ngIf="form && form.answered" style="margin-bottom: 20px;">
                <h3 class="thanksText">Thanks for your response. Check us out at
                    <a class="qslyButton">Questionsly.com</a>
                </h3>
            </div>
            <feed-form-component *ngIf="form" [pic]="pic" [pictype]="pictype" [form]="form"> </feed-form-component>
            <div class="container" *ngIf="unavailable">
                <h3>This survey is unavailable!</h3>
            </div>
        </div>

    </div>
</div>





<!-- <div id="shareFormPage">
    <div class="row">
        <div class="col-md-2" id="leftSideOfContainer">
        </div>
        <div class="col-md-8"> -->


<!-- 
            <div id="takeFormContainer" class="container" *ngIf="!unavailable">
                <div class="row">
                    <div class="col-md-2" id="authorPicture">
                    <a [routerLink]="authorlinkdisabled ? null : ['/profile', authorlink]">
                        <div *ngIf="pictype == 'fb'">
                            <img src="https://graph.facebook.com/{{pic}}/picture?width=80&height=80">
                        </div>
                        <div *ngIf="pictype == 'local'">
                            <img [src]="pic" width="80" height="80"/>
                        </div>
                        <div *ngIf="pictype == 'default'">
                            <img *ngIf="authorgender == 'male'" src="/images/male.png" height="80" width="80"/>
                            <img *ngIf="authorgender == 'female'" src="/images/female.png" height="80" width="80"/>
                        </div>
                        <div *ngIf="pictype == 'anonymous'">
                            <img src="/images/question.jpg" height="80" width="80"/>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-10" id="authorDetails">
                        <p><a [routerLink]="authorlinkdisabled ? null : ['/profile', authorlink]">{{author}}</a> on {{timestamp | date}}</p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <show-form *ngIf="formdata && !unavailable" [data]="formdata" [showSubmit]="showsubmit" [submitted]="submitted" (submitForm)="postForm($event)"></show-form>
                    </div>
                </div>

            </div> -->


<!-- </div>
        <div class="col-md-2" id="rightSideOfContainer">
        </div>
    </div>

</div> -->