<div class="pageLayout">
    <div class="row">

        <div class="col-md-3 order-2 order-sm-1">
            <!-- <sidebar [friends]="network" [loggedin]="loggedin" [user]="id" [context]="'profile'" [name]="name" [me]="me"></sidebar> -->
        </div>

        <div class="col-md-6 order-1 order-sm-2 mtop">
            <div *ngIf="form && form.answered" style="margin-bottom: 20px;">
                <h3 class="thanksText">Thanks for your response. Please check us out!
                    <a class="qslyButton" [routerLink]="['/']" [queryParams]="{c: 'sports'}" (click)="clickedCTA()">Questionsly.com</a>
                </h3>
            </div>
            <feed-form-component *ngIf="form" [pic]="pic" [pictype]="pictype" [form]="form" (emitSubmitted)="stopTimer($event)"> </feed-form-component>
            <div class="container" *ngIf="unavailable">
                <h3>This survey is unavailable!</h3>
            </div>
        </div>

    </div>
</div>