<div id="shareFormPage">
    <div class="row">
        <div class="col-md-2" id="leftSideOfContainer">
        </div>
        <div class="col-md-8">

            <button *ngIf="!loggedin && !unavailable" class="btn btn-outline-success mouseChangeToHand" routerLink="/users/login">
                Please login or register first to complete this survey!
            </button>

            <div class="container" *ngIf="unavailable"><h3>This survey is unavailable!</h3></div>

            <div id="takeFormContainer" class="container" *ngIf="!unavailable">
                <div class="row">
                    <div class="col-md-2" id="authorPicture">
                    <a [routerLink]="authorlinkdisabled ? null : ['/profile', authorlink]">
                        <div *ngIf="pictype == 'fb'">
                            <img src="https://graph.facebook.com/{{pic}}/picture?width=80&height=80">
                        </div>
                        <div *ngIf="pictype == 'local'">
                            <img [src]="pic" width="80" height="80"/>
                        </div>
                        <div *ngIf="pictype == 'default'">
                            <img *ngIf="authorgender == 'male'" src="/images/male.png" height="80" width="80"/>
                            <img *ngIf="authorgender == 'female'" src="/images/female.png" height="80" width="80"/>
                        </div>
                        <div *ngIf="pictype == 'anonymous'">
                            <img src="/images/question.jpg" height="80" width="80"/>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-10" id="authorDetails">
                        <p><a [routerLink]="authorlinkdisabled ? null : ['/profile', authorlink]">{{author}}</a> on {{timestamp | date}}</p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <show-form *ngIf="formdata && !unavailable" [data]="formdata" [showSubmit]="showsubmit" [submitted]="submitted" (submitForm)="postForm($event)"></show-form>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2" id="rightSideOfContainer">
        </div>
    </div>

</div>