<div style="width: 1220px; margin: 10px auto 0px auto">
    <div class="row">
        <!-- <div *ngIf="status == '2'"><h6>{{data.title}} is a private community. Only individuals invited by the admin can see further details. </h6></div> -->
        <!-- <network-list [data]="data.members" *ngIf="!loading && loadsuccessful && status != '2'"></network-list> -->

        <div class="col-md-3 order-2 order-sm-1">
            <sidebar [friends]="data.members" [context]="'community'" *ngIf="!loading && loadsuccessful && status != '2'"></sidebar>
        </div>



        <div class="col-md-6 order-1 order-sm-2" *ngIf="loadsuccessful">
            <div id="viewCommunityContainer">

                <!-- Info header -->
                <div class="aboutContainer" style="margin-bottom: 18px !important" *ngIf="!showEdit">
                    <img *ngIf="data.pic" id="community-image" [src]="data.pic" />
                    <div style="margin-left: 15px">
                        <h3 class="name">{{data.title}}</h3>
                        <h5 class="description">{{data.description ? data.description : "No Description."}}</h5>
                        <h5 class="description">{{data.members.length}} {{data.members.length > 1 ? "Members" : "Member"}}</h5>
                    </div>
                    
                    <div class="profileMenu">

                        <a class="submitButton" (click)="toggleEdit()" *ngIf="data.isadmin">Edit</a>

                        <div ngbDropdown placement="bottom-right" class="mouseChangeToHand" *ngIf="loggedin">
                            <a class="navlinks nav-link custom-dropdown-toggle" id="community-menu" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="community-menu">
                                <a class="dropdown-item" *ngIf="!data.ismember && status != '2'" (click)="joinCommunity(id)">Join Community</a>
                                <a class="dropdown-item" *ngIf="data.ismember && !data.isadmin" (click)="leaveCommunity(id)">Leave Community</a>
                                <a class="dropdown-item" *ngIf="data.isadmin" (click)="inviteToCommunity(id)">Invite others to join</a>
                                <!-- <a class="dropdown-item" *ngIf="data.isadmin" (click)="deleteCommunity(id)">Delete Community</a> -->
                                <a class="dropdown-item" *ngIf="!data.isadmin" (click)="reportCommunity(id)">Report Community</a>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Feed list and private community message -->
                <div class="d-none d-sm-block" *ngIf="!showEdit">
                    <div *ngIf="status == '2'" class="aboutContainer"><h6 class="description">{{data.title}} is a private community. Only individuals invited by the admin can see the content of this community.</h6></div>
                    <feed-list *ngIf="status !== '2'" [comm]="id"></feed-list>
                </div>



                <!-- Edit Community -->
                <div class="aboutContainer" *ngIf="data.isadmin && showEdit" style="margin-bottom: 18px !important; flex-direction: column;">
                    <div class="flexContainer" style="justify-content: center; padding-bottom: 0;">
                        <h3 class="description" style="margin-bottom: 25px">Edit Community</h3>
                    </div>
                    
                    
                    <form id="main-form" [formGroup]="fgCreateCommunity">
                    
                        <div class="flexContainer fdColumn faStart">
                            <h6 class="title firstTitle">Community Title</h6>
                            <div style="display: flex; align-items: center; width: 100%">
                                <label style="margin-right: 10px; color: #CCC; margin-bottom: 0px;">-</label>
                                <input class="niceTextInput" formControlName="title" autofocus />
                            </div>
                        </div>
                    
                        <div class="flexContainer fdColumn faStart">
                            <h6 class="title firstTitle">Description</h6>
                            <div style="display: flex; align-items: center; width: 100%">
                                <label style="margin-right: 10px; color: #CCC; margin-bottom: 0px;">-</label>
                                <textarea placeholder="Enter a short description.." class="niceTextAreaInput" formControlName="description" rows="1" #f (keydown)="autosizeTextarea($event, f)"></textarea>
                            </div>
                        </div>
                    
                    
                        <div class="flexContainer fdColumn faStart">
                            <h6 class="title firstTitle">Privacy</h6>
                            <div style="display:flex; justify-content: flex-start;">
                                <desc-switch-buttons [active]="fgCreateCommunity.get('public').value" [option]="true" [title]="'Public'" [description]="'Anyone can see the contents of this community'"
                                    (selected)="toggleAudience($event)" formControlName="public"></desc-switch-buttons>
                                <desc-switch-buttons [active]="fgCreateCommunity.get('public').value" [option]="false" [title]="'Private'" [description]="'Only members can see the contents of this community'"
                                    (selected)="toggleAudience($event)" formControlName="public"></desc-switch-buttons>
                            </div>
                        </div>
                    
                    
                        <!-- IMAGE START -->
                        <div class="flexContainer fdColumn faStart">
                            <h6 class="title firstTitle">Image</h6>
                            <div class="flex" style="align-items: center; width: 100%">
                    
                                <div id="uploadBtn">
                                    <label for="picFile" class="submitButton not">Upload</label>
                                    <input id="picFile" title="Hello" style="display:none;" type="file" (change)="onPicChange($event)" />
                                </div>
                    
                                <div>
                                    <p id="orText">or</p>
                                </div>
                    
                                <div id="urlImage" class="input-group" style="width: 100%">
                                    <input type="text" formControlName="pic" #imgUrl class="form-control" placeholder="Enter an image URL">
                                    <div class="input-group-append">
                                        <button (click)="setPicUrl(imgUrl.value)" class="btn btn-outline-secondary">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </div>
                                </div>
                    
                                <div style="margin-left: 12px">
                                    <img class="image" *ngIf="fgCreateCommunity.get('pic').value !== ''" id="preview" [src]="fgCreateCommunity.get('pic').value">
                                </div>
                            </div>
                    
                    
                        </div>
                        <!-- IMAGE END -->
                    
                                       
                        <div class="flexContainer faStart fdColumn">
                            <h6 class="title firstTitle">Add Admins</h6>
                            <div [ngClass]="{'tag-input-wrapper': true, 'form-control': true, 'active': showAdmins == true}">
                                <div [ngClass]="{'d-none': showAdmins || fgCreateCommunity.get('admins').value}" class="tag-placeholder text-muted" (click)="showAdmins = true; focusTagInput(admins)">
                                    Add your friends as admins
                                </div>
                                <tag-input #admins [ngClass]="{'d-none': !showAdmins && fgCreateCommunity.get('admins').value === null}" [onAdding]="transformName"
                                    [identifyBy]="'value'" [displayBy]="'display'" placeholder="@name" secondaryPlaceholder="@name" (onBlur)="showAdmins = false"
                                    [separatorKeyCodes]="[32, 13, 188]" formControlName="admins" [onlyFromAutocomplete]="true" id="admins">
                                    <tag-input-dropdown identifyBy="id" displayBy="name" [matchingFn]="nameMatching" [focusFirstElement]="true" [autocompleteItems]="friends">
                                    </tag-input-dropdown>
                                </tag-input>
                            </div>
                        </div>
                    

                        <div class="flexContainer" style="justify-content: center">
                            <button type="button" class="submitButton grey" (click)="toggleEdit()" [disabled]="(fgCreateCommunity.invalid && fgCreateCommunity.wasChecked) || submitted" style="margin-right: 20px;">Cancel</button>
                            <button type="button"  class="submitButton" (click)="updateCommunity()" [disabled]="(fgCreateCommunity.invalid && fgCreateCommunity.wasChecked) || submitted">Update</button>
                        </div>

                    </form>
                </div>



            </div>
        </div>


        <div class="col-md-6 order-2 order-sm-3" *ngIf="!loadsuccessful && !loading">
            <div class="aboutContainer">
                <h2 style="overflow: auto" class="location">Uh oh. This community could not be found.</h2>
            </div>
        </div>

        <!-- <div class="col-md-2 col-xl-2 offset-xl-0 col-md-7 offset-md-3 order-3 order-sm-4" id="rightSideOfContainer">
            <feedback-form *ngIf="loggedin"></feedback-form>
        </div> -->
    </div>
</div>






<ng-template #invitationModal let-c="close" let-d="dismiss">
    <!--<div class="modal-header" [formGroup]="inviteForm">
        <h4 class="modal-title">Invite your friends to this community</h4>
    </div>-->
    <div class="modal-body container" [formGroup]="inviteForm">
        <div class="row">
            <div class="col">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true" style="font-size:30px;">&times;</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="friendsInput" [ngClass]="{'tag-input-wrapper': true, 'form-control': true, 'active': showFriends == true}">
                    <div 
                        [ngClass]="{'d-none': showFriends || inviteForm.get('friends').value}"
                        class="tag-placeholder text-muted" 
                        (click)="showFriends = true; focusTagInput(admins)">
                        Names of your friends you want to invite
                    </div>
                    <tag-input
                        #admins
                        [ngClass]="{'d-none': !showFriends && inviteForm.get('friends').value === null}"
                        [onAdding]="transformName"
                        [identifyBy]="'value'"
                        [displayBy]="'display'"
                        placeholder="@name"
                        secondaryPlaceholder="@name"
                        (onBlur)="showFriends = false"
                        [separatorKeyCodes]="[32, 13, 188]"
                        formControlName="friends"
                        [onlyFromAutocomplete]="true">
                        <tag-input-dropdown 
                            identifyBy="id" 
                            displayBy="name" 
                            [matchingFn]="nameMatching" 
                            [focusFirstElement]="true" 
                            [autocompleteItems]="friends">
                        </tag-input-dropdown>
                    </tag-input>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 20px">
            <div class="col text-center">
                <button type="button" class="btn btn-primary" (click)="c(true)">Send</button>                    
            </div>
        </div>
    </div>
    <!--<div class="modal-footer" style="justify-content: center">
        <button type="button" class="btn btn-primary" (click)="c(true)">Send</button>
    </div>-->
</ng-template>