$formContainerColor: #fff;
$whiteColor: #fff;
//$insideColor: #e6f7ff;
$insideColor: #F6F6F6;
$navBarColor:  #0088cc;

#viewCommunityContainer {
  background-color: $whiteColor;
  padding-top: 20px;
  overflow:auto;
  border-radius: 1%;
  margin-top: 30px;
}

#topJumbo {
  border: 10px;
  background: $insideColor;
}

.fa-heart {
  color: $navBarColor;
;
}

.mouseChangeToHand{
  cursor: pointer;
  cursor: hand;
}

#buttonATag {
  color: $navBarColor;
  background-color: $whiteColor;
  border:none;
}

#buttonText {

}

#addOptionBtn{
  margin-bottom: 10px;
}

#optionsdivider {
  margin-top: 20px;
  margin-bottom:20px;
}

#community-image-column {
  background-color: $insideColor;
  text-align: center;
  
  #community-image {
    height: 220px;
  }
}

.padded-simple {
  padding: 1rem;
}

#community-menu-wrapper {
  position: absolute;
  top: 55px;
  right: 30px;

  #community-menu {
    font-size: 25px;
  }
}

feed-list {
  margin-top: -30px;
}