<div style="width: 1220px; margin: 10px auto 0px auto">
    <div class="row">
        <!-- <div *ngIf="status == '2'"><h6>{{data.title}} is a private community. Only individuals invited by the admin can see further details. </h6></div> -->
        <!-- <network-list [data]="data.members" *ngIf="!loading && loadsuccessful && status != '2'"></network-list> -->

        <div class="col-md-3 order-2 order-sm-1">
            <sidebar [friends]="data.members" [context]="'community'" *ngIf="!loading && loadsuccessful && status != '2'"></sidebar>
        </div>



        <div class="col-md-6 order-1 order-sm-2" *ngIf="loadsuccessful">
            <div id="viewCommunityContainer">
                




                <div class="aboutContainer">
                    <h3 class="name">{{data.title}}</h3>
                    <h5 class="description">{{data.description ? data.description : "This community's description will go here"}}</h5>
                    <img *ngIf="data.pic" id="community-image" [src]="data.pic" />
                    
                    <div ngbDropdown placement="bottom-right" class="mouseChangeToHand categoryMenu" *ngIf="loggedin">
                        <a
                        class="navlinks nav-link custom-dropdown-toggle"
                        id="community-menu"
                        ngbDropdownToggle
                        aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="community-menu">
                            <a class="dropdown-item" *ngIf="!data.ismember && status != '2'" (click)="joinCommunity(id)">Join Community</a>
                            <a class="dropdown-item" *ngIf="data.ismember && !data.isadmin" (click)="leaveCommunity(id)">Leave Community</a>
                            <a class="dropdown-item" *ngIf="data.isadmin" (click)="inviteToCommunity(id)">Invite others to join</a>
                            <a class="dropdown-item" *ngIf="data.isadmin" (click)="deleteCommunity(id)">Delete Community</a>
                            <a class="dropdown-item" *ngIf="!data.isadmin"(click)="reportCommunity(id)" >Report Community</a>
                        </div>
                     </div>
                    
                    <!-- <div class="col">
                        <button (click)="joinCommunity(id)" *ngIf="!data.ismember && loggedin && !loadingjoin" class="expand-button btn btn-outline-secondary mouseChangeToHand">
                            Join Community!
                        </button>
                        <button (click)="leaveCommunity(id)" *ngIf="data.ismember && loggedin && !data.isadmin && !loadingjoin" class="expand-button btn btn-outline-secondary mouseChangeToHand">
                            Leave Community!
                        </button>
                    </div> -->
                    
                    <!-- <p class="lead">{{data.timestamp | date}}</p> -->
                    <!-- <div *ngIf="addfailed">failed..</div> -->
                </div>




                <div class="d-none d-sm-block" style="margin-top: 20px">
                    <div *ngIf="status == '2'"><h6 class="description">{{data.title}} is a private community. Only individuals invited by the admin can see the content of this community.</h6></div>
                    <feed-list *ngIf="status !== '2'" [comm]="id"></feed-list>
                </div>

            </div>
        </div>


        <div class="col-md-6 order-2 order-sm-3" *ngIf="!loadsuccessful && !loading">
            <div class="aboutContainer">
                <h2 style="overflow: auto" class="location">Uh oh. This community could not be found.</h2>
            </div>
        </div>

        <!-- <div class="col-md-2 col-xl-2 offset-xl-0 col-md-7 offset-md-3 order-3 order-sm-4" id="rightSideOfContainer">
            <feedback-form *ngIf="loggedin"></feedback-form>
        </div> -->
    </div>
</div>






<ng-template #invitationModal let-c="close" let-d="dismiss">
    <!--<div class="modal-header" [formGroup]="inviteForm">
        <h4 class="modal-title">Invite your friends to this community</h4>
    </div>-->
    <div class="modal-body container" [formGroup]="inviteForm">
        <div class="row">
            <div class="col">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true" style="font-size:30px;">&times;</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="friendsInput" [ngClass]="{'tag-input-wrapper': true, 'form-control': true, 'active': showFriends == true}">
                    <div 
                        [ngClass]="{'d-none': showFriends || inviteForm.get('friends').value}"
                        class="tag-placeholder text-muted" 
                        (click)="showFriends = true; focusTagInput(admins)">
                        Names of your friends you want to invite
                    </div>
                    <tag-input
                        #admins
                        [ngClass]="{'d-none': !showFriends && inviteForm.get('friends').value === null}"
                        [onAdding]="transformName"
                        [identifyBy]="'value'"
                        [displayBy]="'display'"
                        placeholder="@name"
                        secondaryPlaceholder="@name"
                        (onBlur)="showFriends = false"
                        [separatorKeyCodes]="[32, 13, 188]"
                        formControlName="friends"
                        [onlyFromAutocomplete]="true">
                        <tag-input-dropdown 
                            identifyBy="id" 
                            displayBy="name" 
                            [matchingFn]="nameMatching" 
                            [focusFirstElement]="true" 
                            [autocompleteItems]="friends">
                        </tag-input-dropdown>
                    </tag-input>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 20px">
            <div class="col text-center">
                <button type="button" class="btn btn-primary" (click)="c(true)">Send</button>                    
            </div>
        </div>
    </div>
    <!--<div class="modal-footer" style="justify-content: center">
        <button type="button" class="btn btn-primary" (click)="c(true)">Send</button>
    </div>-->
</ng-template>