<div class="fullpage">
    <nav>
        <h2 class="logo-text">Questionsly</h2>
    </nav>

    <div *ngIf="whichStep == 'loading'" id="loadingStep">
        <!-- Don't show anything -->
    </div>

    <div *ngIf="whichStep == 'noemail'" id="noemailStep">
        <h1>Welcome!</h1>
        <p>Enter your email address to get started.</p>

        <form [formGroup]="noemailForm">
            <div>
                <div *ngIf="noemailForm.controls['email'].invalid && noemailForm.controls['email'].touched" class="alert alert-danger">
                    Please provide your email address.
                </div>

                <input type='email' class="form-control" placeholder="name@ucla.edu" formControlName="email">

                <div class="submitButtons">
                    <button class="cta-btn" (click)="noemailFormSubmit()">Go</button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="whichStep == 'noorg'" id="noorgStep">
        <h1>Welcome!</h1>
        <p>
            Thanks for your interest in Questionsly. Currently, Questionsly is in a closed beta for specific organizations.
            Join our interest list to be notified when Questionsly is opened for {{emailDomain}} emails.
        </p>
        <div class="submitButtons">
            <button id="joinInterestList" class="cta-btn" (click)="joinInterestList()">Join interest list</button>
            <button class="text-btn" (click)="tryADifferentEmailAddress()">Try a different email address</button>
        </div>
    </div>

    <div *ngIf="whichStep == 'noaccount'" id="noaccountStep">
        <p>Welcome to {{orgName}}! Let's make an account for {{email}}.</p>

        <form [formGroup]="noaccountForm">
            <div class="flex">
                <!-- first name -->
                <div class="col-sm-6">
                    <label>
                        First name
                        <input type='text' class="form-control" formControlName="firstName"
                            [ngClass]="{'is-invalid': noaccountForm.controls['firstName'].invalid && noaccountForm.controls['firstName'].touched}">
                    </label>
                    <div *ngIf="noaccountForm.controls['firstName'].invalid && noaccountForm.controls['firstName'].touched" class="is-invalid">
                        Required field
                    </div>
                </div>

                <!-- last name -->
                <div class="col-sm-6">
                    <label>
                        Last name
                        <input type='text' class="form-control" formControlName="lastName"
                            [ngClass]="{'is-invalid': noaccountForm.controls['lastName'].invalid && noaccountForm.controls['lastName'].touched}">
                    </label>
                    <div *ngIf="noaccountForm.controls['lastName'].invalid && noaccountForm.controls['lastName'].touched" class="is-invalid">
                        Required field
                    </div>
                </div>
            </div>
            <div class="flex">
                <!-- password -->
                <div class="col-sm-6">
                    <label>
                        Password
                        <input type='password' class="form-control" formControlName="password"
                            [ngClass]="{'is-invalid': noaccountForm.controls['password'].invalid && noaccountForm.controls['password'].touched}">
                    </label>
                    <div *ngIf="noaccountForm.controls['password'].invalid && noaccountForm.controls['password'].touched" class="is-invalid">
                        Required field
                    </div>
                </div>

                <!-- gender -->
                <div class="col-sm-6">
                    <label style="margin-bottom: 0">Gender</label><br>
                    <label class="form-check-label">
                        <input formControlName="gender" value="male" type="radio" name="gender">
                        Male
                    </label>
                    <label class="form-check-label">
                        <input formControlName="gender" value="female" type="radio" name="gender">
                        Female
                    </label>
                    <label class="form-check-label">
                        <input formControlName="gender" value="other" type="radio" name="gender">
                        Other
                    </label>
                </div>
            </div>
            <div class="flex">
                <!-- profile pic -->
                <div class="col-sm-6">
                    <label style="margin-bottom: 0">Profile pic</label><br>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <div class="btn btn-default">
                                    <span><i class="fa fa-folder-open" aria-hidden="true"></i></span>
                                    <span class="image-preview-input-title">Browse</span>
                                    <input (change)="onProfilePicChange($event)" type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div>
                        <img style="border:1px solid gray;width:100px;"  id="preview" [src]="profilePicURL" *ngIf="profilePicURL">
                    </div>
                    <div *ngIf="showProfilePicRequired" class="is-invalid">
                        Profile pic required
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-sm-12 tos">
                By using this service you agree to our <a href="/tos">Terms of Service</a> & <a href="/privacy">Privacy Policy</a>.
            </div>

            <div class="submitButtons">
                <button class="cta-btn" (click)="noaccountSubmit()">Sign Up</button>
                <button class="text-btn" (click)="tryADifferentEmailAddress()">Use different email</button>
            </div>
        </form>
    </div>

    <div *ngIf="whichStep == 'login'" id="loginStep">
        <h1>Welcome back!</h1>
        <p>Enter your password for {{email}}.</p>

        <form [formGroup]="loginForm">
            <div>
                <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched && !loginPasswordIncorrect" class="alert alert-danger">
                    Please provide your password.
                </div>
                <div *ngIf="loginPasswordIncorrect" class="alert alert-danger">
                    Your password is incorrect.
                </div>

                <input type='password' class="form-control" formControlName="password">

                <div class="submitButtons">
                    <button class="cta-btn" (click)="loginSubmit()">Login</button>
                    <!-- TODO <button class="text-btn" (click)="forgotPassword()">Forgot password?</button> -->
                    <button class="text-btn" (click)="tryADifferentEmailAddress()">Use different email</button>
                </div>
            </div>
        </form>
    </div>

</div>
