<!-- <div class="netw" [routerLink]="['/profile', data.link]">
    <img *ngIf="data.pic[0] == 'fb'" src="https://graph.facebook.com/{{data.pic[1]}}/picture?width=120&height=120">
    <img *ngIf="data.pic[0] == 'local'" [src]="data.pic[1]"/>
    <img *ngIf="data.pic[0] == 'default' && data.pic[1] == 'male'" src="/images/male.png" />
    <img *ngIf="data.pic[0] == 'default' && data.pic[1] == 'female'" src="/images/female.png" />
    <br>
    <a [routerLink]="['/profile', data.link]">{{data.name.first}} {{data.name.last}}</a>
</div> -->

<div class="iContainer" [routerLink]="['/profile', data.link]">
    <img class="img" *ngIf="data.pic === null && fb !== null" src="https://graph.facebook.com/{{data.fb}}/picture?width=120&height=120">
    <img class="img" *ngIf="data.pic !== null && data.pic !== undefined" [src]="data.pic" />
    <img class="img" *ngIf="(data.pic === null || data.pic === undefined) && data.fb === null && data.gender == 'male'" src="/images/male.png" />
    <img class="img" *ngIf="(data.pic === null || data.pic === undefined) && data.fb === null && data.gender == 'female'" src="/images/female.png" />
    <br>
    <a [routerLink]="['/profile', data.link]">{{name[0]}}<br/>{{name[1]}}</a>
</div>