<div class="netw" [routerLink]="['/profile', data.link]">
    <img *ngIf="data.pic[0] == 'fb'" src="https://graph.facebook.com/{{data.pic[1]}}/picture?width=120&height=120">
    <img *ngIf="data.pic[0] == 'local'" [src]="data.pic[1]"/>
    <img *ngIf="data.pic[0] == 'default' && data.pic[1] == 'male'" src="/images/male.png" />
    <img *ngIf="data.pic[0] == 'default' && data.pic[1] == 'female'" src="/images/female.png" />
    <br>
    <a [routerLink]="['/profile', data.link]">{{data.name.first}} {{data.name.last}}</a>
</div>