@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,700|Karla:400,700|Fira+Sans:300,400,600,700|Raleway:300,400,500,600,700|Cabin:400,700|Playfair+Display:700|Montserrat:600|Alfa+Slab+One');
html {
	font-size: 14px;
}
h1 {
	color: blue;
}

li {

	h2 {
		color: green;
	}

}