.iContainer {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-basis: 33%;
  margin-bottom: 10px;

  &:active {
    outline-style: none;
  }
}

a {
    font-weight: 400;
    font-family: Karla;
    font-size: .75rem;
    // padding: auto 5px;
    color: #2b2b2b;
    display: block;

   &:hover {
    cursor: pointer;
  }
}

.img {
  width: 52px;
  height: 52px;
  margin: 0px 5px;
  border-radius: 6px;
  // background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,.3) 100%);

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    width: 36px;
    height: 36px;
  }
}


.title {
    margin-top: 2px;
    text-align: center;
  }

  .commText {
    @media (max-width: 768px) {
      font-size: .55rem;
    }
  }