<!-- <div class="sContainer">
    <h3 class="lpText">Top Questions</h3>
        <div class="emoContainer">
            <div class="emoAndText" [ngClass]="{hoverGrow: currentEmo == null}" (click)="chooseReaction('great')">
                <img class="emoticon" [ngClass]="{emoSelected: currentEmo === 'great', blurred: currentEmo !== 'great' && currentEmo !== null}" src="/images/emoticons/thumbsup.gif" />
                <span class="emoText" [ngClass]="{emoSelected: currentEmo === 'great'}">Great Question!</span>
            </div>
            <div class="emoAndText" [ngClass]="{hoverGrow: currentEmo == null}" (click)="chooseReaction('wtf')">
                <img class="emoticon" [ngClass]="{emoSelected: currentEmo === 'wtf', blurred: currentEmo !== 'wtf' && currentEmo !== null}" src="/images/emoticons/wtf.gif" />
                <span class="emoText" [ngClass]="{emoSelected: currentEmo === 'wtf'}">WTF..</span>
            </div>
            <div class="emoAndText" [ngClass]="{hoverGrow: currentEmo == null}" (click)="chooseReaction('angry')">
                <img class="emoticon" [ngClass]="{emoSelected: currentEmo === 'angry', blurred: currentEmo !== 'angry' && currentEmo !== null}" src="/images/emoticons/angry.gif" />
                <span class="emoText" [ngClass]="{emoSelected: currentEmo === 'angry'}">Really?!</span>
            </div>
        </div>
</div> -->

<div class="sContainer">
    <h3 class="lpText small">Categories</h3>
    <div class="catList">
        <div *ngFor="let c of categories" class="catContainer">
            <img class="catIcon" src ="/images/icons/dumbbell.svg" />
            <span class="catTitle">{{c}}</span>
        </div>
    </div>
</div>

