<div class="sContainer">
    <h3 class="lpText">Top Posts</h3>
        <div class="emoContainer">
            <div class="emoAndText" (click)="chooseReaction('great')">
                <img class="emoticon" [ngClass]="{emoSelected: currentEmo === 'great'}" src="/images/emoticons/thumbsup.gif" />
                <span class="emoText" [ngClass]="{emoSelected: currentEmo === 'great'}">Great Question!</span>
            </div>
            <div class="emoAndText" (click)="chooseReaction('wtf')">
                <img class="emoticon" [ngClass]="{emoSelected: currentEmo === 'wtf'}" src="/images/emoticons/wtf.gif" />
                <span class="emoText" [ngClass]="{emoSelected: currentEmo === 'wtf'}">WTF..</span>
            </div>
            <div class="emoAndText" (click)="chooseReaction('angry')">
                <img class="emoticon" [ngClass]="{emoSelected: currentEmo === 'angry'}" src="/images/emoticons/angry.gif" />
                <span class="emoText" [ngClass]="{emoSelected: currentEmo === 'angry'}">Really?!</span>
            </div>
        </div>
</div>

<div class="sContainer">
    <h3 class="lpText">Categories</h3>
    <div class="catList">
        <div *ngFor="let c of categories" class="catContainer">
            <img class="catIcon" src ="/images/icons/dumbbell.svg" />
            <span class="catTitle">{{c}}</span>
        </div>
    </div>
</div>

