$primaryColor:  #28ab64;
$lightGrey: #a2a2a2;
$borderColor: rgb(226,226,226);

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Quicksand;
}

.sContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  border: solid 1px $borderColor;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 8px auto;
  padding: 12px 10px 0px 10px;

  @media (max-width: 768px) {
    flex-basis: 33%;
    margin: auto 0;
  }
}

.sMenu {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
  padding-top: 20px;
}

.icons {
  color: $primaryColor;
  display: block;
  font-size: 24px;

  &:hover {
    cursor: pointer;
  }
}

.line {
  height: 1px;
  border-top: $primaryColor solid 1px;
  width: 90%;
  margin: 4px auto;
}


.catList {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
  @media (max-width: 768px) {
    flex-flow: wrap;
  }
}

.catContainer {
  width: 95%;
  padding: 4px;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;

    .catTitle {
      color: $primaryColor;
    }
  }

  @media (max-width: 768px) {
    width: auto;
  }
}

.selected {
  color: $primaryColor !important;
}

.catIcon {
  width: 12px !important;
  color: #a2a2a2 !important;
  margin-right: 10px;

  @media (max-width: 768px) {
    display: none;
  }
}

.catTitle {
  font-family: Karla;
  color: #666;
  font-weight: 300;
  font-size: .9rem;

  @media (max-width: 768px) {
    font-size: .7rem;
    margin-right: 3px;
  }
}

.emoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 10px auto;

  .emoAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    margin: 2px 8px;

    &:hover{
      cursor: pointer;
    }
  }
}

.hoverGrow {
    &:hover{
    cursor: pointer;

    .emoticon {
      height: 42px;
    }

    .emoText {
      font-size: .75rem;
    }

  }
}

.vCenter {
  align-items: center;
}

.emoticon {
  height: 32px;

  &.emoSelected {
    height: 60px;
  }

  &.blurred {
    opacity: .25;
  }
}


.emoText {
  font-family: Karla;
  color: $primaryColor;
  font-size: .65rem;
  font-weight: 700;
  text-align: center;
  width: 50px;
}

.emoSelected {
  font-weight: 700;
  font-size: .85rem;
  color: $primaryColor;
}


.title {
  font-family: Karla;
  color: #999;
  font-size: 1rem;
  margin: 5px auto;
}

.lpText {
  color: $lightGrey;
  text-align: center;
}

.small {
  font-size: .9rem;
}