<div class="sContainer">
    <div class="sMenu">
        <a title="Your Surveys" (click)="toggleView('surveys')"><i [ngClass]="{activeView: view === 'surveys'}" class="icons fa fa-wpforms"> </i></a>
        <a title="Friends" (click)="toggleView('friends')"><i [ngClass]="{'activeView': view === 'friends'}" class="icons fa fa-users"> </i></a>
        <a title="Communities" (click)="toggleView('communities')"><i [ngClass]="{activeView: view === 'communities'}" class="icons fa fa-tree"> </i></a>
        <a title="Tags" (click)="toggleView('tags')"><i [ngClass]="{activeView: view === 'tags'}" class="icons fa fa-hashtag"> </i></a>
    </div>
    <br/>
    <div class="line"></div><div>
    <community-list *ngIf="view === 'friends' " [user]="null"></community-list>
    <community-list *ngIf="view === 'communities' " [user]="null"></community-list>
    <yourform-list *ngIf="loggedin && view === 'surveys' "></yourform-list>
    <tag-list *ngIf="view === 'tags' " [user]="null" [comm]="null"></tag-list>
</div>