$formContainerColor: #fff;
$whiteColor: #fff;
$insideColor: #e6f7ff;
$navBarColor:  #0088cc;
$primaryColor: #28ab64;
$borderColor: rgb(226,226,226);
$color1: #28ab64;

.file-input {
  label {
    cursor: hand;
  }
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

#createCommunityContainer {
  background-color: $whiteColor;
  min-height: 100%;
  padding-top: 20px;
  overflow:auto;
  border-radius: 1%;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#main-form > .row {
  margin-bottom: 40px;
  
  label.align {
    margin-top: 6px;
  }
}

#comm-picture {
  label {
    padding-top: 11px;
    vertical-align: middle
  }
  #pic-input {
    #url-input {
      input {
        font-size: 16px;
        // width: auto;
      }
    }
    span {
      width: 12px;
    }
  }
  .image-preview {
    vertical-align: middle;
    width: 275px;
  }
}

#privacy {
  .dropdown {
    $font-size: 18px;
    font-size: $font-size;

    i {
      color: rgb(155, 154, 154);
      font-size: 35px;
      vertical-align: middle;
      width: 40px;
      text-align: center;
    }
    .option-body {
      vertical-align: middle;
      span {
        font-size: $font-size;        
        font-weight: bold;
        color: #000;
      }
    }
    .dropdown-toggle {
      width: auto;
      text-align: left;
      vertical-align: middle;
      &:after {
        vertical-align: middle;
      }
    }
    .dropdown-item {
      padding: .25rem 15px;
    }
  }
}

.fa-heart {
  color: $navBarColor;
}

.mouseChangeToHand{
  cursor: pointer;
  cursor: hand;
}

#buttonATag {
  color: $navBarColor;
  background-color: $whiteColor;
  border:none;
}

#questions {
  margin-bottom: 20px;
}

#addOptionBtn{
  margin-bottom: 10px;
}

.question {
  padding: 25px 15px;
  border-bottom: 1px solid rgba(0,0,0,.14);
  cursor: move;
  label {
    cursor: move;
  }
}

.question.active {
  box-shadow: 0px 0px 20px rgba(0,0,0,.24), 0 4px 4px rgba(0,0,0,.24);
  border-left: 3px solid $navBarColor;

  hr {
    border-color: rgba(0,0,0,0);
  }
}


.delete-question {
  width: 100%;
}

$warningColor: rgb(234, 122, 133);
input.option-input.is-invalid {
  border: 2px solid $warningColor;
}
.form-control.is-invalid {
  border-color: $warningColor;
}
.invalid-feedback {
  color: $warningColor;
  display: block;
}

#comm-data {
  margin-top: -10px;
  padding: 0 15px;

  .form-group {
    text-align: center;
  }
  #comm-title {
    input {
      font-size: 30px;
      width: 70%;
    }
  }
  #comm-description {
    input {
      width: 80%;
    }
  }
  input {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

#middle-section {
  padding: 0 15px;

  .lead {
    margin-bottom: 20px;
  }

  & > .row {
    padding: 15px 0px;
    margin-left: 0;
    margin-right: 0;
  }

  small {
    margin-top: 20px;
    font-size: 0.7rem;
  }

  .form-check-label {
    font-size: 1rem;
  }

  /deep/  ng2-flatpickr {
    input {
      font-size: 0.8rem;
    }
  }
  /deep/ #exp-time-picker {
    input {
      width: 100px;
    }
  }
  /deep/ #exp-date-picker {
    input {
      width: 155px;
    }
  }
}



// New
.aboutContainer {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFF;
  margin: 0px;
  border-radius: 4px;
  border: 1px solid $borderColor;
  position: relative;
}

.profilePicture {
  // margin-bottom: 20px;
  width: 120px;
  border-radius: 60px;
  margin-right: 25px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: 2px;
  font-family: Karla;
  font-size: 1.6rem;
  font-weight: 300;
  color: #999;
  text-align: center;
  width: 100%;
}

.description {
  margin-bottom: 12px;
  font-family: Karla;
  font-size: 1.15rem;
  font-weight: 300;
  color: #AAA;
}

.stats {
  color: #777;
  font-size: .8rem;
  font-weight: 400;
  display: block;

  &::before {
    margin-left: 4px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  span {
    font-weight: 700;
    font-family: Karla;
  }
}

.addToNetwork {
  position: absolute;
  top: 20px;
  right: 20px;
}


.submitButton {
    background: lighten($primaryColor,14);
    border-radius: 8px;
    padding: 3px 6px;
    line-height: 1.5rem;
    min-width: 100px;
    max-width: 150px;
    width: auto;
    text-align: center;
    border: none;

    font-size: .9rem;
    font-family: Karla;
    color: #FFF !important;
    outline-style: none;
    margin-top: 0px;

    &:active {
        outline-style: none;
    }

    &:hover {
        cursor: pointer;
        background: lighten($primaryColor, 18);
    }
}

.categoryMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

#community-image {
  height: 240px;
  width: 100%;
  border-radius: 8px;
}

.niceTextInput {
    background: none;
    outline-style: none;
    font-family: Helvetica Neue, sans-serif;
    border: none;
    font-weight: 300;
    // border-bottom: solid 1px $borderColor;
    padding: 2px;
    width: 100%;
    font-size: 1rem;
    color: #666;
}


.niceTextAreaInput {
    background: none;
    outline-style: none;
    border: none;
    padding: 2px;
    width: 100%;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    overflow: hidden;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 25px;
    width: 95%;
}

.fdColumn {
    flex-direction: column;
}

.faStart {
    align-items: flex-start;
}

.fjCenter {
    justify-content: center;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 12px;
    }
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#uploadBtn {
    margin-right: 20px;
}

#orText {
    margin: 0px;
    font-weight:700;
    font-family: Karla;
    color: #999; 
}

#urlImage {
    margin: 0px 20px;
}

#preview {
    border:1px solid $color1;
    width:200px;
    border-radius: 8px;
    outline-style: none;
    outline: none;
}
