$formContainerColor: #fff;
$whiteColor: #fff;
$insideColor: #e6f7ff;
$navBarColor:  #0088cc;

.file-input {
  label {
    cursor: hand;
  }
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

#createCommunityContainer {
  background-color: $whiteColor;
  min-height: 100%;
  padding-top: 20px;
  overflow:auto;
  border-radius: 1%;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#main-form > .row {
  margin-bottom: 40px;
  
  label.align {
    margin-top: 6px;
  }
}

#comm-picture {
  label {
    padding-top: 11px;
    vertical-align: middle
  }
  #pic-input {
    #url-input {
      input {
        font-size: 16px;
        // width: auto;
      }
    }
    span {
      width: 12px;
    }
  }
  .image-preview {
    vertical-align: middle;
    width: 275px;
  }
}

#privacy {
  .dropdown {
    $font-size: 18px;
    font-size: $font-size;

    i {
      color: rgb(155, 154, 154);
      font-size: 35px;
      vertical-align: middle;
      width: 40px;
      text-align: center;
    }
    .option-body {
      vertical-align: middle;
      span {
        font-size: $font-size;        
        font-weight: bold;
        color: #000;
      }
    }
    .dropdown-toggle {
      width: auto;
      text-align: left;
      vertical-align: middle;
      &:after {
        vertical-align: middle;
      }
    }
    .dropdown-item {
      padding: .25rem 15px;
    }
  }
}

.fa-heart {
  color: $navBarColor;
}

.mouseChangeToHand{
  cursor: pointer;
  cursor: hand;
}

#buttonATag {
  color: $navBarColor;
  background-color: $whiteColor;
  border:none;
}

#questions {
  margin-bottom: 20px;
}

#addOptionBtn{
  margin-bottom: 10px;
}

.question {
  padding: 25px 15px;
  border-bottom: 1px solid rgba(0,0,0,.14);
  cursor: move;
  label {
    cursor: move;
  }
}

.question.active {
  box-shadow: 0px 0px 20px rgba(0,0,0,.24), 0 4px 4px rgba(0,0,0,.24);
  border-left: 3px solid $navBarColor;

  hr {
    border-color: rgba(0,0,0,0);
  }
}


.delete-question {
  width: 100%;
}

$warningColor: rgb(234, 122, 133);
input.option-input.is-invalid {
  border: 2px solid $warningColor;
}
.form-control.is-invalid {
  border-color: $warningColor;
}
.invalid-feedback {
  color: $warningColor;
  display: block;
}

#comm-data {
  margin-top: -10px;
  padding: 0 15px;

  .form-group {
    text-align: center;
  }
  #comm-title {
    input {
      font-size: 30px;
      width: 70%;
    }
  }
  #comm-description {
    input {
      width: 80%;
    }
  }
  input {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

#middle-section {
  padding: 0 15px;

  .lead {
    margin-bottom: 20px;
  }

  & > .row {
    padding: 15px 0px;
    margin-left: 0;
    margin-right: 0;
  }

  small {
    margin-top: 20px;
    font-size: 0.7rem;
  }

  .form-check-label {
    font-size: 1rem;
  }

  /deep/  ng2-flatpickr {
    input {
      font-size: 0.8rem;
    }
  }
  /deep/ #exp-time-picker {
    input {
      width: 100px;
    }
  }
  /deep/ #exp-date-picker {
    input {
      width: 155px;
    }
  }
}