/* You can add global styles to this file, and also import other style files */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #e6f7ff;*/
  background-color: #F3F3F3;
  /* padding-top: 50px; */
}

div, p, span, li, label, input, textarea, select, option, button, a {
  font-size: 12px;
}

@media (min-width: 768px) {
  body {
    /* padding-left: 40px;
    padding-right: 40px; */
  }

  .col-md-6, .col-6 {
    flex: 0 0 54% !important;
    /* padding: auto 0px !important; */
  }

  .col-md-3 {
    padding: 0px !important;
    flex: 0 0 23% !important;
    max-width: 100% !important;
  }

  
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0px 8px;
}

.dropdown-toggle::after {
    display: none;
}

.pageLayout {
  max-width: 1220px;
  margin: 0 auto;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.qslyBlack {color: #333 !important;}
.qslyGray {color: #666 !important;}
.qslyGreen {color: #28ab64 !important;}




.modal-dialog {
  max-width: 1000px;
}


@media(min-width: 769px and max-width: 767px) {
  /* .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0px 24px !important;
  }   */
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .sb-wrapper {
    min-width: 20px !important;
  }

   .modal-dialog { 
    min-width: auto;
    max-width: 90%;
  }
}


/* Graph Filter CSS */
.filterDropdownText {
color: #ccc !important;
}

.filterDropdownText span.countplaceholder, .filterDropdownText span.fa, .filterDropdownText span.fa-angle-down{
color: #AAA !important;
}

.filterDropdownText label {
  color: #999 !important;
}

.filterDropdownText .c-token{
background: #38d574 !important;
}


.filterDropdownText .pure-checkbox label::before {
border-color: #38d574 !important;
/* background: #FFF !important; */
}

.pure-checkbox[_ngcontent-c10] input[type="checkbox"][_ngcontent-c10]:checked + label[_ngcontent-c10]:before {
background: #38d574 !important;
}
/* End Graph Filter CSS */



.modal {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
