<!-- Beginning Placeholder -->
<div class="qSidebar sdbHolder" id="sidebar">
  <div class="sContainer">
  </div>
</div>

<!-- Profile Sidebar -->
<div *ngIf="context === 'profile'" class="qSidebar" id="sdb">
  <button *ngIf="me" style="font-family: Karla" class="btn btn-outline-success" id="askBtn" routerLink="/createForm">
      Ask a Question
  </button>

  <div class="sContainer">
      <h6 *ngIf="networklist.length == 0" class="lpText">
          {{me ? 'Your' : userName + "'s"}} friends list is empty.<br/>
          Discover other members!
      </h6>
      <h6 *ngIf="networklist.length !== 0" class="lpText">
          {{me ? 'My' : userName + "'s"}} Friends
      </h6>

      <div *ngIf="networklist.length != 0" class="peopleContainer">
          <div *ngFor="let p of networklist" style="flex-basis:33%;">
              <app-user-image [showNames]="showNames" [data]="p"> </app-user-image>
          </div>
      </div>
      <div *ngIf="networklist.length == 0" class="peopleContainer">
          <div *ngFor="let p of users" style="flex-basis:33%;">
              <app-user-image [showNames]="showNames" [data]="p"> </app-user-image>
          </div>
      </div>

      <div *ngIf="networklist.length !== 0" class="moreLink">
          <a [routerLink]="['/profile', user, 'friends']" class="viewAllBtn">
              View All
          </a>
      </div>


      <div *ngIf="showFriendsLoading" class="loadingContainer">
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
      </div>
  </div>

  <div class="sContainer">
      <h6 *ngIf="communitylist.length == 0" class="lpText">
          {{me ? "You haven't" : userName + " hasn't"}} joined a group yet.<br/>
          Discover other groups!
      </h6>
      <h6 *ngIf="communitylist.length !== 0" class="lpText">
          {{me ? 'My' : userName + "'s"}} Groups
      </h6>

      <div *ngIf="communitylist.length != 0" class="peopleContainer">
          <div *ngFor="let c of communitylist" style="flex-basis:33%;">
              <app-community-image [showNames]="showNames" [data]="c"> </app-community-image>
          </div>
      </div>
      <div *ngIf="communitylist.length == 0" class="peopleContainer">
          <div *ngFor="let c of randomlist" style="flex-basis:33%;">
              <app-community-image [showNames]="showNames" [data]="c"> </app-community-image>
          </div>
      </div>

      <div *ngIf="communitylist.length !== 0" class="moreLink">
          <a [routerLink]="['/profile', user, 'groups']">
              View All
          </a>
      </div>


      <div *ngIf="showCommunityLoading" class="loadingContainer">
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
      </div>

  </div>
</div>

<!-- Feed Sidebar -->
<div *ngIf="context === 'feed'" class="mainContainer qSidebar" id="sdb">
  <div class="sContainer lhs">
      <h3 class="lpText">Discover People</h3>
      <div *ngIf="networklist.length != 0" class="peopleContainer">
          <div *ngFor="let p of networklist" style="flex-basis:33%;">
              <app-user-image [showNames]="showNames" [data]="p"> </app-user-image>
          </div>
      </div>
      <div *ngIf="networklist.length == 0" class="peopleContainer">
          <div *ngFor="let p of users" style="flex-basis:33%;">
              <app-user-image [showNames]="showNames" [data]="p"> </app-user-image>
          </div>
      </div>


      <div *ngIf="showFriendsLoading" class="loadingContainer">
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
      </div>

  </div>

  <div class="sContainer comPadding rhs">
      <h3 class="lpText">Discover Groups</h3>
      <div *ngIf="communitylist.length != 0" class="peopleContainer">
          <div *ngFor="let c of communitylist" style="flex-basis:33%;">
              <app-community-image [showNames]="showNames" [data]="c"> </app-community-image>
          </div>
      </div>
      <div *ngIf="communitylist.length == 0" class="peopleContainer">
          <div *ngFor="let c of data" style="flex-basis:33%;">
              <app-community-image [showNames]="showNames" [data]="c"> </app-community-image>
          </div>
      </div>

      <div *ngIf="showCommunityLoading" class="loadingContainer">
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
      </div>

      <a class="submitButton" [routerLink]="['/createGroup']">Create Group</a>
  </div>
</div>


<!-- Community Sidebar -->
<div *ngIf="context === 'community'" class="qSidebar" id="sdb">
  <div class="sContainer">
      <h6 class="lpText small">Members</h6>
      <div *ngIf="networklist.length != 0" class="peopleContainer">
          <div *ngFor="let p of networklist" style="flex-basis:33%;">
              <app-user-image [showNames]="showNames" [data]="p"> </app-user-image>
          </div>
      </div>

      <div *ngIf="showFriendsLoading" class="loadingContainer">
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
      </div>
  </div>

  <div class="sContainer comPadding rhs">
      <h3 class="lpText">Discover Groups</h3>
      <div *ngIf="communitylist.length != 0" class="peopleContainer">
          <div *ngFor="let c of communitylist" style="flex-basis:33%;">
              <app-community-image [showNames]="showNames" [data]="c"> </app-community-image>
          </div>
      </div>
      <div *ngIf="communitylist.length == 0" class="peopleContainer">
          <div *ngFor="let c of data">
              <app-community-image [showNames]="showNames" [data]="c"> </app-community-image>
          </div>
      </div>

      <div *ngIf="showCommunityLoading" class="loadingContainer">
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
          <div class="loadingBox"></div>
      </div>

      <a class="submitButton" [routerLink]="['/createGroup']">Create Group</a>

  </div>
</div>
