$primaryColor: #28ab64;
$primaryFont: Dosis;
$borderColor: rgb(226,226,226);
$backgroundColor: #FFF;
$commentBackground: #f0f6f0;

.comUserImage {
  width: 32px !important;
  // height: 32px;
  border-radius: 8px;
  z-index: 3;
  margin-right: 10px;
  background-color: $borderColor;

  &.reverse {
    margin-right: 0px !important;
    margin-left: 10px !important;
  }
}

.indComment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.commentText {
  font-family: Karla;
  font-size: .9rem;
  color: darken($primaryColor, 20);
  background: lighten($commentBackground, 5);
  border-radius: 8px;
  padding: 4px 6px;
  margin-bottom: 0px;
  border: solid 1px $borderColor;
  
  @media (max-width: 767px) {
    font-size: .8rem;
  }
}

.reverse {
  flex-direction: row-reverse !important;
}

.heavy {
  font-weight: 700;
}

.textAndDate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subText {
  display: flex;
  flex-direction: row;
}

.date {
  display: block;
  font-size:.7rem; 
  color:#999;
  padding: 3px;
  padding-bottom: 0px;
}

.remove {
  display: block;
  font-size:.7rem; 
  color:rgb(231, 78, 78);
  padding: 3px;
  margin: auto 10px;
  padding-bottom: 0px;
  color:#AAA;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

.reverseAlign {
  align-items: flex-end;
}