#chatbox {
  background-color: #e6e6e6;
  border: 1px dashed;
  border-radius: 25px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  margin-bottom: 5px;

  a {
    color: blue;
  }

  a:hover {
    cursor: pointer;
  }
}