.container {
    display: flex;
    flex-direction: column;
    width: 240px;
    background: white;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    padding-bottom: 24px;
    z-index: -2;
    margin-bottom: 16px;

    @media (max-width: 768px) {
        order: -1;
        width: 100%;
    }
}

.title {
    color: #464646;
    font: {
        size: 1.2rem;
        family: "Fira Sans";
        weight: 700;
    }
    margin: 16px 16px 16px 8px;
}

.member-row {
    width: 100%;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.member-icon {
    width: 28px;
    height: 28px;
    border-radius: 16px;
    margin-right: 8px;
}

.member-name {
    color: #666666;
    font: {
        size: .9rem;
        family: "Fira Sans";
        weight: 400;
    }
    margin: 0;
    padding: 0;
}