<div class="container">
  <h4 class="title">Members</h4>

  <div class="member-row">
    <img src="https://picsum.photos/32/32/?random" class="member-icon">
    <p class="member-name">Devante Williams</p>
  </div>
  <div class="member-row">
    <img src="https://picsum.photos/32/32/?random" class="member-icon">
    <p class="member-name">Devante Williams</p>
  </div>
  <div class="member-row">
    <img src="https://picsum.photos/32/32/?random" class="member-icon">
    <p class="member-name">Devante Williams</p>
  </div>
  <div class="member-row">
    <img src="https://picsum.photos/32/32/?random" class="member-icon">
    <p class="member-name">Devante Williams</p>
  </div>
  <div class="member-row">
    <img src="https://picsum.photos/32/32/?random" class="member-icon">
    <p class="member-name">Devante Williams</p>
  </div>
  <div class="member-row">
    <img src="https://picsum.photos/32/32/?random" class="member-icon">
    <p class="member-name">Devante Williams</p>
  </div>
  <div class="member-row">
    <img src="https://picsum.photos/32/32/?random" class="member-icon">
    <p class="member-name">Devante Williams</p>
  </div>
  <div class="member-row">
    <img src="https://picsum.photos/32/32/?random" class="member-icon">
    <p class="member-name">Devante Williams</p>
  </div>
  <div class="member-row">
    <img src="https://picsum.photos/32/32/?random" class="member-icon">
    <p class="member-name">Devante Williams</p>
  </div>

</div>