<form [formGroup]="questionnaire">
    <h1 id="survey-title">{{data.title}}</h1>
    <p id="survey-description">{{data.description}}</p>
    <div formArrayName="questions">
        <div *ngFor="let question of data.questions; let i = index">
            <div class="form-group" [formGroupName]="i">
                <label class="lead">
                    {{question.number}}. {{question.body}}<span *ngIf="question.required">*</span>
                </label>
                <div *ngIf="question.pic" class="form-group question-pic">
                    <img [src]="question.pic"/>
                </div>
                <div *ngIf="question.options">
                    <div *ngIf="question.kind == 'Radio'">
                        <div *ngFor="let option of question.options" class="form-control">
                            <label>
                                <input formControlName="answer" [value]="option.label" type="radio" (click)="loginPopup.check(data.loginRequired)" />
                                {{option.label}}. {{option.body}}
                            </label>
                        </div>
                    </div>
                    <div *ngIf="question.kind == 'Checkboxes'" formGroupName="answer">
                        <div *ngFor="let option of question.options" class="form-control">
                            <label>
                                <input [formControlName]="option.label" type="checkbox" (click)="loginPopup.check(data.loginRequired)" />
                                {{option.label}}. {{option.body}}
                            </label>
                        </div>
                    </div>
                    <select class="form-control" formControlName="answer" *ngIf="question.kind == 'Drop-down'">
                        <option *ngFor="let option of question.options" [value]="option.label" (click)="loginPopup.check(data.loginRequired)">{{option.label}}. {{option.body}}</option>
                    </select>
                    <div *ngIf="question.kind == 'Rank'" formGroupName="answer">
                        <div [dragula]="'bag'" [dragulaModel]="questionnaire.get('questions').controls[i].get('answer').value">
                            <div *ngFor="let option of questionnaire.get('questions').controls[i].get('answer').value; let j = index" class="form-control">
                                <span class="rank">{{j + 1}}</span>
                                <label>{{option.label}}. {{option.body}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="matrix" *ngIf="question.kind == 'Matrix'" formGroupName="answer">
                        <table class="table-responsive">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td class="label" *ngFor="let column of question.columns; let i = index">
                                        <div class="contents">
                                            <label>{{column}}</label>
                                        </div>                                                        
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="matrix-row" *ngFor="let row of question.rows; let i = index">
                                    <td class="label">
                                        <div class="contents">
                                            <label>{{row}}</label>                                                
                                        </div>
                                    </td>
                                    <td class="field" *ngFor="let column of question.columns; let j = index">
                                        <div class="contents">
                                            <input type="radio" [formControlName]="row" [value]="column" (click)="loginPopup.check(data.loginRequired)"/>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <stars-question *ngIf="question.kind == 'Stars'" [control]="questionnaire.get('questions').controls[i].get('answer')"></stars-question>                            
                </div>
                <input type="text" class="form-control" formControlName="answer" *ngIf="question.kind == 'Short answer'"/>
                <textarea class="form-control" formControlName="answer" *ngIf="question.kind == 'Paragraph'"></textarea>
                <div *ngIf="isInvalid(i)" class="invalid-feedback">
                    Option is required
                </div>
            </div>
        </div>
    </div>
    <button 
        *ngIf="(showSubmit || !data.loginRequired) && !submitted && !data.expired"
        class="btn btn-outline-success mouseChangeToHand" 

        [disabled]="questionnaire.invalid && questionnaire.wasChecked"
        (click)="checkSubmit($event)">
        Submit Survey!
    </button>
    <div class="row" *ngIf="submitted">
        <div class="col text-center submitted-message">
            <p class="alert alert-success">The survey has been submitted</p>
        </div>
    </div>
</form>
<login-popup #loginPopup></login-popup>
