$formContainerColor: #fff;
$whiteColor: #fff;
//$insideColor: #e6f7ff;
$insideColor: #F6F6F6;
$navBarColor:  #0088cc;

#createFormContainer {
    background-color: $whiteColor;
    min-height: 100%;
    padding-top: 20px;
    overflow:auto;
    border-radius: 1%;
    margin-top: 30px;
}

#topJumbo {
    border: 10px;
    background: $insideColor;
}

.fa-heart {
    color: $navBarColor;
}

.mouseChangeToHand{
    cursor: pointer;
    cursor: hand;
}

#buttonATag {
    color: $navBarColor;
    background-color: $whiteColor;
    border:none;
}

#buttonText {

}

#questions {
    margin-bottom: 20px;
}

#addOptionBtn{
    margin-bottom: 10px;
}

.question {
    padding: 25px 15px;
    border-bottom: 1px solid rgba(0,0,0,.14);
    cursor: move;
    label {
        cursor: move;
    }
}

.question.active {
    box-shadow: 0px 0px 20px rgba(0,0,0,.24), 0 4px 4px rgba(0,0,0,.24);
    border-left: 3px solid $navBarColor;

    hr {
        border-color: rgba(0,0,0,0);
    }
}


.delete-question {
    width: 100%;
}

$warningColor: rgb(234, 122, 133);
input.option-input.is-invalid {
    border: 2px solid $warningColor;
}
.form-control.is-invalid {
    border-color: $warningColor;
}
.invalid-feedback {
    color: $warningColor;
    display: block;
}

#survey-data {
    margin-top: -10px;
    padding: 0 15px;

    .form-group {
        //text-align: center;
    }
    #survey-title {
        input {
            //font-size: 30px;
            width: 50%;
        }
    }
    #survey-description {
        input {
            width: 80%;
        }
    }
    input {
        //margin-left: auto;
        //margin-right: auto;
        //text-align: center;
    }
}

.file-input {
    label {
        cursor: hand;
    }
    input {
        width: 0.1px;
	      height: 0.1px;
	      opacity: 0;
	      overflow: hidden;
	      position: absolute;
	      z-index: -1;
    }
}

#middle-section {
    padding: 0 15px;

    .lead {
        margin-bottom: 20px;
    }

    & > .row {
        padding: 15px 0px;
        margin-left: 0;
        margin-right: 0;
    }
    
    small {
        margin-top: 20px;
        font-size: 0.7rem;
    }

    .form-check-label {
        font-size: 1rem;
    }

    /deep/  ng2-flatpickr {
        input {
            font-size: 0.8rem;
        }
    }
    /deep/ #exp-time-picker {
        input {
            width: 100px;
        }
    }
    /deep/ #exp-date-picker {
        input {
            width: 155px;
        }
    }
}