$color1: #28ab64;
$borderColor: rgb(226,226,226);

.centerxandy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
}

.oContainer {
    margin: auto auto;
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
}

.typesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerTitle {
    font-family: Karla;
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
    margin: 12px auto;
    margin-bottom: 25px;
    color: #999;
}


.line {
    height: 1px;
    border: none;
    border-top: 1px solid #DDD;
    width: 85%;
    margin: 8px auto;
}

.qTypeList {
    padding: auto 15px;
}

.lContainer, .rContainer, .qContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.qContainer {
    width: auto;
    padding: 20px 10px;
    background: #FFF;
    border-bottom-left-radius:  12px;   
    border-top-left-radius:  12px;   
    border: solid 1px $borderColor;
    border-right: none;
    min-width: 12rem;

    ul {
        padding-left: 0px;
        margin-bottom: 0px;
    }
}

.lContainer {
    background: #FFF;
    border-top: solid 1px $borderColor;
    border-bottom: solid 1px $borderColor;
}

.rContainer {
    background: #FFF;
    border-bottom-right-radius:  12px;   
    border-top-right-radius:  12px;  
    border: solid 1px $borderColor;
    // border-left: none;
}

.iTitle {
    font-family: Karla;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin: 12px auto;    
}

.responseConfiguration {
    display:flex;
}

.multipleChoice {
    display: flex;
    justify-content: center;
    height: 200px;
    width:90%;
}

.niceTextInput {
    background: none;
    outline-style: none;
    border: none;
    border-bottom: solid 2px $color1;
    width: 100%;
}