<div class="centerxandy">
        <!-- Create Questions Container -->
        <h3 class="containerTitle">Create a Question</h3>
        <form [formGroup]="questionnaire" style="width: 100%">
            <div class="oContainer">
        <div class="qContainer">
            <ul *ngFor="let k of kinds; let kIndex = index">
                <form-buttons formControlName="kind" [active]="typeView" [qKind]="k" (selected)="toggleView($event)"></form-buttons>
                <div *ngIf="kinds.length !== kIndex + 1" class="line"></div>
            </ul>
        </div>
        <div class="lContainer">
            <!-- <div *ngIf="!typeView"><h1 class="containerTitle">Select a Question Style to Begin {{typeView}} </h1></div> -->
            <div class="responseConfiguration">
                <question-form (questionData)="consoleTestCall($event)"></question-form>
            </div>
        </div>

        <!-- //Finished Questions Container -->
        <div class="rContainer">
            <h3 class="containerTitle">Your Completed Questions Will Appear Here</h3>
            <!-- <div *ngFor="let question of questionnaire.get('questions').controls; let i = index" >
                //list questions posted
                <p>{{question.get('body') | json }}</p>
            </div> -->
        </div>
    </div>
</form>

</div>
