$color1: #63D5C3;
$color2: #3b3e52;

.choice {
    min-width: 100px;
    font-size: 1rem;
    font-weight: 300;
    font-family: Quicksand;
    display: block;
    border: solid 1px lighten($color1, 8);
    background: darken($color1, 8);
    border-radius: 10px;
    margin: 6px 5px;
    padding: 4px 8px;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}
.selected {
    background: darken($color1, 20);
}

.center {
    display: flex;
    justify-content: space-around;
}