<div style="width: 100%">
<form [formGroup]="question" novalidate>    
    <div class="multipleChoice">
        <h6 class="title">What is your question?</h6>
        <input class="niceTextInput bottom" formControlName="body" />
        <!-- <a formControlName="required">Required</a> -->

        <div>
            <!-- //Include radio/checkbox switch -->
        </div>

        <!-- <div class="titleWithButton"> -->
            <h6 class="title">Response Selection</h6>
        <!-- </div> -->

        <div class="responseContainer" formArrayName="options">
            <div class="responseRow" *ngFor="let x of question.get('options').controls; let i = index">
                <div class="flex">
                    <div style="margin-right: 2px"><label class="subtleText">{{i + 1}}. </label></div>
                    <input class="niceTextInput" type="text" formControlName="option" />
                </div>
            </div>
        </div>
        <a class="addButton" (click)="addMcOption()">Add</a>
    </div>
</form>
</div>