<div class="full-width">
  <div class="container">
    <nav>
      <img src="https://www.questionsly.com/images/logo.png" height="60px">
      <a class="nav-tab">About Us</a>
    </nav>
  </div>
  <div class="container">
    <div class="col-50">
      <h1>Questionsly</h1>
      <h4>Helping people make data-driven decisions. This should be some amazing copy that makes questionsly seem super badass.
        Blah blah blah and then some more blah blah blah.</h4>
      <h2>It's easy to get started!
        <br/>Just sign in with your organization's email.</h2>
      <div class="flex">
        <input type='text' class="email-input" placeholder="Enter your email.." />
        <button class="cta-btn">Get Started</button>
      </div>
    </div>
    <div class="col-50">
    </div>
  </div>

</div>