<div class="sb-container" [ngClass]="{open: this.open}">
    <div class="header">
        <span class="brand-text">Questionsly</span>
    </div>

    <div class="group-section">
            <a class="section-entry" [ngClass]="{active: !activeGroup}" [routerLink]="['/']">
                {{classReference.orgName}}
            </a>
    </div>

    <div *ngFor="let category of classReference.categories" class="group-section">
        <h4 class="section-title">{{category.displayNamePlural}}</h4>

        <div *ngFor='let group of category.groups' class="block" [ngClass]='{active: group.id == activeGroup}'>
                <a  class="section-entry"
                    [ngClass]="{active: group.id == activeGroup}" [routerLink]="['/', category.category, group.id]" (click)="updateNavbar()">
                    {{group.title}}
                </a>
                <a *ngIf="group.id == activeGroup" class="section-entry sub"
                    [routerLink]="['/', category.category, group.id]" (click)="updateNavbar()">
                    Documents
                </a>
                <a *ngIf="group.id == activeGroup" class="section-entry sub"
                    [routerLink]="['/', category.category, group.id]" (click)="updateNavbar()">
                    Videos
                </a>
            </div>


            <a class="section-entry dim" (click)="openCreateGroupModal(category)" *ngIf="category.category != 'class' || canCreateClasses">
                + Add {{category.displayNameShort}}
            </a>
    </div>
</div>

<ng-template #createGroupModal let-c="close" let-d="dismiss">
    <app-create-group [category]="classReference.createGroupCategory"></app-create-group>
</ng-template>