<div class="sb-container">
    <div class="header">
        <span class="brand-text">Questionsly</span>
    </div>

    <div class="group-section">
        <h4 class="section-entry" [ngClass]="{active: '' == activeGroup}">
            <a [routerLink]="['/']">
                {{orgName}}
            </a>
        </h4>
    </div>

    <div *ngFor="let category of categories" class="group-section">
        <h4 class="section-title">{{category.displayNamePlural}}</h4>

        <h4 *ngFor="let group of category.groups" class="section-entry" [ngClass]="{active: group.title == activeGroup}">
            <a [routerLink]="['/']" [queryParams]="{groupid: group.id}">
                {{group.title}}
            </a>
        </h4>

        <h4 class="section-entry dim">
            <a (click)="openCreateGroupModal(category)">
                + Add {{category.displayNameShort}}
            </a>
        </h4>
    </div>
</div>

<ng-template #createGroupModal let-c="close" let-d="dismiss">
    <app-create-group [category]="createGroupCategory"></app-create-group>
</ng-template>
