.fullwidth {
    width: 100%;
}
.ask-textarea {
    width: 100%;
    outline: none;
    border: 1px solid #e2e2e2;
    padding: 20px;
    padding-bottom: 0;
    font-size: 1.2rem;
    margin-bottom: -4px;
    border-bottom-color: #f4f4f4;
    
    &:focus {
        border-color: #28ab64;
    }   
    
    &::placeholder {
        color: #AAAAAA;
        font-size: 1.2rem;
    }
}


.toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    background: #FFFFFF;
    border: 1px solid #e2e2e2;
    border-top: none;
    padding: 8px 16px;
    margin-bottom: 24px;

    &.active {
        border-bottom-color: #f4f4f4;
        margin-bottom: 0;
    }

}

.tb-option {
    font: {
        size: 1rem;
        weight: 400;
        family: "Fira Sans";
    }
    padding: 4px 12px;
    color: #28ab64 !important;
    cursor: pointer;
    border-radius: 16px;

    &.submit {
        background: #28ab64;
        color: white !important;
        padding: 8px 12px;
        border-radius: 8px;
        opacity: .4;
        pointer-events: none;

        &:hover {
            background: lighten(#28ab64, 15);
        }

        &.enabled {
            opacity: 1;
            pointer-events: all;
        }
    }

    &.active {
        background: lighten(#28ab64, 14);
        color: white !important;
    }
    
    &.sub {
        margin: 2px 8px;
        padding: 4px 8px;
        border-radius: 12px;
        color: #BBBBBB !important;
        
        &.active {
            background: lighten(#28ab64, 14);
            color: white !important;
            pointer-events: none;
        }
        
        &:hover:not(.active) {
            color: #28ab64 !important;            
        }
    }
}


.groups-input {
    width: 100%;
    margin: 0 16px;
    padding-left: 8px;
    border: none;
    outline: none;
    font-size: .9rem;

    &::placeholder {
        color: #AAAAAA;
        font-size: .9rem;
    }
}

.selection-menu, .photo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
    background: #FFFFFF;
    border: 1px solid #e2e2e2;
    border-top: none;
    padding: 16px;

}

.dim-overlay {
    position: absolute;
    background: #000000;
    opacity: .4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.question-form-container {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
}


.photo-menu {
    .tb-option {
        color: #AAAAAA !important;
        cursor: initial;
    }
}

.summary-container {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #e2e2e2;
    border-bottom: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

.question-count {
    margin: 0;
    font-size: 1.2rem;
    color: #bbbbbb;
    font-family: "Fira Sans";
    font-weight: 500;
    text-align: center;
}

.preview-btn {
    padding: 4px 12px;
    color: #999999 !important;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    font-size: .9rem;
    cursor: pointer;
    float: right;
    transition: all 200ms ease-in-out;

    &:hover {
        border-color: #28ab64;
        color: #28ab64 !important;
        transition: all 200ms ease-in-out;
    }
}

.prev-item {
    flex-basis: 33.33%;
}

.question {
    width: 100%;
    background: #FFFFFF;
    padding: 24px 16px;
    box-shadow: 0 6px 30px 12px rgba(0, 0, 0, 0.05);
}

.number-label {
    font: {
        size: .8rem;
        family: "Fira Sans";
        weight: 400;
    }
    color: #AAAAAA;
    margin-bottom: 8px;
}

.question-body {
    font: {
        size: 1.4rem;
        family: "Fira Sans";
        weight: 600;
    }
    color: #333333;
    margin-left: 8px;
    margin-bottom: 16px;
}

.prev-radios {
    margin-left: 32px;
    margin-right: 8px;
}

.radio-container {
    margin-bottom: 8px;
}

.radio-text {
    font: {
        size: 1rem;
        family: "Fira Sans";
        weight: 500;
    }
    color: #484848;
}

.number-boundary {
    font: {
        size: 1rem;
        family: "Fira Sans";
        weight: 600;
    }
    color: #999999;
    margin-left: 8px;
    margin-bottom: 16px;
    margin-top: -16px;
}

.title {
    cursor: pointer;
}

.submit-container {
    width: 100%;
    background: #FFFFFF;
    padding: 8px 16px;
    box-shadow: 0 6px 30px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
}

.submit-btn {
    padding: 8px 24px;
    background: #28ab64;
    color: #FFFFFF !important;
    border-radius: 8px;
    cursor: pointer;

    font: {
        size: 1rem;
        family: "Fira Sans";
        weight: 400;
    }

    &:hover {
        background: lighten(#28ab64, 15);
    }

}



// Picture Styles
.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    .inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 12px;
    }
}

.url-input {
    border: 1px solid #e2e2e2;
    outline: none;

    :focus {
        border-color: #28ab64 !important;
    }
}


#uploadBtn {
    margin-right: 20px;

    @media (max-width: 767px) {
        margin-right: 10px;
    }
}

#orText {
    margin: 0px;
    font-weight: 400;
    font-size: .85rem;
    color: #CCCCCC !important;
    font-family: "Fira Sans";
}

#urlImage {
    margin: 0px 20px;

    @media (max-width: 767px) {
        margin: 0 10px;
    }
}

#preview {
    width:200px;
    border-radius: 8px;
    outline-style: none;
    outline: none;
}

.submitButton {
    background: #28ab64;
    border-radius: 8px;
    padding: 3px 6px;
    line-height: 1.5rem;
    min-width: 20%;
    width: auto;
    text-align: center;
    border: none;

    font-size: .9rem;
    font-family: Karla;
    color: #FFF !important;
    outline-style: none;
    margin-top: 80px;

    &.not {
        background: lighten(#28ab64, 14);
        margin-top: 2px;
        margin-left: 10px;
        padding: 2px 10px;
        margin-bottom: 0px;
    }

    &:active {
        outline-style: none;
    }

    &:hover {
        cursor: pointer;
        background: lighten(#28ab64, 5);
    }

    @media (max-width: 767px) {
        margin-top: 15px;
    }

}

.btn-outline-secondary:hover {
    background: #999999;
    border-color: #999999;
}

.form-control:focus {
    box-shadow: 0 0 0 1px rgba(76, 175, 80, 0.53);
}
// End picture styles