<div *ngIf="activeDimmer" class="dim-overlay"></div>

<div *ngIf="!preview" class="fullwidth askbox">
    <img *ngIf="questionsContainer.length >= 1 || question" id="deleteCross" src="/assets/images/delete-button.svg" (click)="toggleDeleteBox()"/>
    <div class="deletionBox" *ngIf="showDeleteBox">
        <p class="deleteText">Delete all survey progress?</p>
        <div style="display: flex; justify-content: center; align-items: center;">
            <a class="delete-btns" (click)="toggleDeleteBox()">Cancel</a>
            <a class="delete-btns" (click)="resetSurvey()">Delete</a>
        </div>
    </div>


    <div id="action-bar" class="toolbar active">
        <a class="tb-option" [ngClass]='{active: action == "post" }' (click)="actionSelect('post')">Write&nbsp;Post</a>
        <a class="tb-option" [ngClass]='{active: action == "survey" }' (click)="actionSelect('survey')">Create&nbsp;Survey</a>
        <a class="tb-option" [ngClass]='{active: action == "doc" }' (click)="actionSelect('doc')">Upload&nbsp;Document</a>
        <a class="tb-option" [ngClass]='{active: action == "video"}' (click)="actionSelect('video')">Upload&nbsp;Video</a>
        <a class="tb-option" [ngClass]='{active: action == "quiz"}' (click)="actionSelect('quiz')">Create Quiz</a>
    </div>





    <div class="summary-container" *ngIf="questionsContainer.length > 0 && action == 'survey'">
        <div class="prev-item"></div>
        <p class="question-count prev-item">Added {{questionsContainer.length}} {{questionsContainer.length === 1 ? 'Question' : 'Questions'}}</p>
        <div class="prev-item">
            <a class="preview-btn" (click)=togglePreview()>Preview Survey</a>
        </div>
    </div>
    <textarea id="user-question-text" rows="2" class="ask-textarea" [ngClass]="{alone: !question && !questionsContainer.length && action !== 'doc' && action !== 'video'}" [(ngModel)]="question" (ngModelChange)="isQuestionEmpty($event)" (focus)="activateDimmer()" placeholder="{{action == 'survey' ? 'Start typing your question here...' : 'What would you like to say...'}}"></textarea>
    
    <!-- Document Toolbar -->
    <div *ngIf="action == 'doc'" class="doc-menu" [ngClass]="{mb: !question}" >
        <div class="imgContainer">
            <div class="inner">
                <div id="uploadBtn">
                    <label for="picFile" class="submitButton not">Upload Document</label>
                    <input #docInput id="picFile" title="Hello" style="display:none;" type="file" (change)="onPicChange($event, 'doc')" />
                </div>
                <label id="docFileName">{{docInput?.files[0]?.name || ''}}</label>
            </div>
        </div>
    </div>

    <!-- Video Toolbar -->
    <div *ngIf="action == 'video'" class="doc-menu" [ngClass]="{mb: !question}" >
        <div class="imgContainer">
            <div class="inner">
                <div id="uploadBtn">
                    <label for="picFile" class="submitButton not">Upload Video</label>
                    <input #vidInput id="picFile" title="Hello" style="display:none;" type="file" (change)="onPicChange($event, 'vid')" />
                </div>
                <label id="docFileName">{{vidInput?.files[0]?.name || ''}}</label>
            </div>
        </div>
    </div>


    <div *ngIf="action == 'survey' && questionType != 'shortanswer'" class="question-form-container">
        <app-mc-question-form #mc *ngIf="questionType == 'multiplechoice'" (questionData)="pushQuestionToList($event)" [getData]="getQuestionData"></app-mc-question-form>
        <app-rating-question-form #rc *ngIf="questionType == 'rating'" (questionData)="pushQuestionToList($event)" [getData]="getQuestionData"></app-rating-question-form>
        <app-number-question-form #nc *ngIf="questionType == 'number'" (questionData)="pushQuestionToList($event)" [getData]="getQuestionData"></app-number-question-form>
    </div>
    
    <div *ngIf="question || questionsContainer.length" class="toolbar" [ngClass]='{active: selection}'>
        <div class="type-container">
            <a *ngIf="action === 'survey' " class="tb-option" [ngClass]='{active: selection == "question" }' (click)="toolbarSelect('question')">Question Type</a>
            <a class="tb-option"  [ngClass]='{active: selection == "photo" }' (click)="toolbarSelect('photo')">Add Picture</a>
            <a class="tb-option"  [ngClass]='{active: selection == "groups" && isMobile }' (click)="toolbarSelect('groups')">Share with&nbsp;Groups</a>
        </div>
        <a *ngIf="(action == 'survey') || (action == 'quiz') || (action == 'post') || (action == 'video' && vid) || (action == 'doc' && doc)" class="tb-option submit" [ngClass]="{enabled: question}" (click)="checkSubmit()">{{action === 'survey' ? 'Add&nbsp;Question' : 'Post'}}</a>
    </div>


    <div *ngIf="selection == 'question'" class="selection-menu">
        <a class="tb-option sub active" (click)="questionSelect('shortanswer')" [ngClass]="{active: questionType == 'shortanswer'}" style="margin-left: 0">Short Answer</a>
        <a class="tb-option sub" (click)="questionSelect('multiplechoice')" [ngClass]="{active: questionType == 'multiplechoice'}">Multiple Choice</a>
        <a class="tb-option sub" (click)="questionSelect('rating')" [ngClass]="{active: questionType == 'rating'}">Rating</a>
        <a class="tb-option sub" (click)="questionSelect('number')" [ngClass]="{active: questionType == 'number'}">Number</a>
        <a class="tb-option sub" (click)="questionSelect('yesno')" [ngClass]="{active: questionType == 'yesno'}">Yes/No</a>
        <a class="tb-option sub" (click)="questionSelect('matrix')" [ngClass]="{active: questionType == 'matrix'}">Matrix</a>
    </div>
    
    <div *ngIf="selection == 'photo'" class="photo-menu">
        <!-- <a class="tb-option" style="margin-left: 0">Select&nbsp;an&nbsp;Image</a> -->

        <!-- IMAGE START -->
        <div class="imgContainer">
                        <div class="inner">
        
                            <div id="uploadBtn">
                                <label for="picFile" class="submitButton not">Upload</label>
                                <input id="picFile" title="Hello" style="display:none;" type="file" (change)="onPicChange($event, 'pic')" />
                            </div>
        
                            <div><p id="orText" class="qslyGray">or</p></div>
        
                            <div id="urlImage" class="input-group" style="width: 100%">
                                <input type="text" #imgUrl class="form-control url-input" style="font-size: .8rem;" placeholder="Enter an image URL" value={{pic}} >
                                <div class="input-group-append">
                                    <button (click)="setPicUrl(imgUrl.value)" class="btn btn-outline-secondary">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </div>
                            </div>
        
                        </div>
        
                        <div class="flex">
                            <img class="image" *ngIf="pic" id="preview" [src]="pic">
                        </div>
        
                    </div>
        <!-- IMAGE END -->
    </div>


    <div class="toolbar mobileGroup groups" *ngIf="isMobile && selection == 'groups'">
        <div class="groups-row">
            <div *ngFor="let group of shareWithGroups; let i = index" class="group-item">{{group.title}} <img id="itemCross" src="/assets/images/delete-button.svg" (click)="removeItem(i)" />
</div>
        </div>
        <mat-form-field class="groups-input">
            <input type="text" placeholder="Share with a group" aria-label="Number" matInput [formControl]="group" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" >
                <mat-option (onSelectionChange)="addItem($event)" *ngFor="let g of filteredGroups | async" [value]="g" class="matoption">
                    {{g}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>

<div *ngIf="preview" class="fullwidth askbox">
        <div class="summary-container" *ngIf="questionsContainer.length > 0">
            <div class="prev-item"></div>
            <p *ngIf='!addTitle' class="question-count prev-item title" (click)="toggleTitle()">{{title ? title : 'Click to Add Title'}}</p>
            <input (blur)="toggleTitle()" [(ngModel)]="title" class="groups-input" style="text-align: center; font-size: 1.2rem; color: #333333;" *ngIf='addTitle' type="text" autofocus />
            <div class="prev-item">
                <a class="preview-btn" (click)="togglePreview()">Add a Question</a>
            </div>
        </div>
        <div class="question" *ngFor="let q of questionsContainer; let i = index;">
            <p class="number-label">Question {{i + 1}}</p>
            <img class="q-prev-image" [src]="q.pic" [ngClass]="{hidden: !q.pic}"/>
            <p class="question-body">{{q.body}}</p>
            
            <!-- Multiple Choice -->
            <form *ngIf="q.kind == 'Multiple Choice'">
                <div *ngFor="let o of q.options">
                    <div class="radio-container" *ngIf="q.canSelectMultiple">
                        <input class="prev-radios" type="checkbox" /> <span class="radio-text">{{o.body}}</span> <br />
                    </div>
                    <div class="radio-container" *ngIf="!q.canSelectMultiple">
                        <input class="prev-radios" type="radio" /> <span class="radio-text">{{o.body}}</span> <br />
                    </div>
                </div>
            </form>

            <!-- Number -->
            <p *ngIf="q.kind == 'Number' && q.boundaries" class="number-boundary">Answer must lie within {{q.lowerBoundary}} and {{q.upperBoundary}}</p>

            <!-- Rating -->


        </div>

        <div class="submit-container">
            <a class="submit-btn" (click)="submitForm()">Submit Survey</a>
        </div>

</div>