$primaryColor: #28ab64;
$primaryFont: Dosis;
$borderColor: rgb(226,226,226);
$backgroundColor: #FFF;


// Dosis, Quicksand, Raleway

// .bg {
//   background: rgba(255, 255, 255, 0.6);
//   padding: 0;
//   margin: 0;
//   border-radius: 12px;

//   &::after {
//     content: "";
//     padding: 0px;
//     display: table;
//     clear: both;
//   }

//   &::before {
//     content: "";
//     padding: 0px;
//     display: table;
//     clear: both;
//   }
// }

.fBody {
  height: auto;
  border-radius: 5px;
  border: solid 1px $borderColor;
  position: relative;
  background: $backgroundColor;
  box-sizing: border-box;
  margin: auto auto;
  margin-bottom: 10px;
  z-index: 1;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
  width: 99%;
}


.userImagePos {
  position: absolute;
  left: 20px;
  top: -80px;
}

.imageContainer {
  display: flex;
  z-index: 2;
  align-items: center;
  padding: 20px;
}

.userImage {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  // padding: 10px;
  // border: 5px solid $backgroundColor;
  z-index: 3;
  background-color: $borderColor;
}

.userInfoBox {
 display:inline;
 margin-left: 10px;
 padding-left: 5px;
 border-left: solid 1px #ddd;
}

.share {
  right: 20px;
  top: 20px;
  position: absolute;
}

.flex {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.userTitle {
  display: block;
  font-size: 1.4rem;
  font-weight: normal;
  font-family: Karla;
  text-align: left;
  margin-top: 20px;
  width: 100%;
  
}

.responseBox {
  margin: 20px 30px;
  margin-top: 35px;
  font-family: Quicksand;
}

.line {
  height: 1px;
  border-top: black 1px solid;
  margin: 10px 25px;
}

.hashtag {
  margin: 12px 30px;
}


.nameTitle {
  font-family: Karla;
  color: #2b2b2b;
  font-size: 1.2rem;
  font-weight: 400;
}

.locationTitle {
  font-family: Karla;
  color: #AAA;
  font-size: .9rem;
  font-weight: 400;
}

.partTitle {
  color: #777;
  font-size: .8rem;
  font-weight: 400;

  &::before {
    margin-left: 4px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  span {
    font-weight: 600;
    font-family: Karla;
  }
}


//$insideColor: #e6f7ff;
$insideColor: #F6F6F6;
$navBarColor:  #0088cc;

.formContainer {
  border: 1px solid $navBarColor;
  border-radius: 5px;
  padding-top: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px #0077b3;
}

#analysisContainer {
  border: 1px solid $primaryColor;
  padding: 8px 0px;
  margin: 8px;
  border-radius: 5px;
  max-width: 100%;
}

.filterCategory {
  font-family: Raleway;
  font-size: 1.2rem;
  font-weight: 700;
  color: $primaryColor;
}

.filterOptions {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  color: #2b2b2b;
  margin: 15px;
}

#chatContainer {
  border: 1px dashed black;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.maxWidthOfParent {
  width: 100%;
}

.title {
  display: inline-block;
  font-style: normal;
  font-size: 22px;
  width: 80%;
}
.author {
  display: inline-block;
  font-style: italic;
  font-size: 12px;
  width: 80%;
}
.link {
  display: inline-block;
  text-align: right;
  font-size: 12px;
  width: 19%;
}

#authorPicture {
  margin-bottom: 20px;
}

#authorDetails {
  a {
    color: black;
  }

  h3 {
    @media (max-width: 768px) {
      margin-top: -10px;
    }  
  }
}

hr {
    margin-bottom: 2px;
    margin-top: 2px;
}

#form-menu-wrapper {
  position: absolute;
  top: -10px;
  right: 0;
  margin-right: -5px;

  #form-menu {
    font-size: 25px;
  }
}
