<div style="width: 1220px; margin: 0px auto">

<div class="row">
    <button style="font-family: Karla" class="btn btn-outline-success" id="askBtn" routerLink="/createForm">Ask a Question</button>
</div>

<div class="row">
  
    <div class="col-md-3" id="leftSideOfContainer">
        <sidebar [loggedin]="loggedin"></sidebar>
    </div>
  
    <div class="col-md-6">
        <br>
        <div class="card" *ngIf="emailconfirmfailed">
            <div class="card-body btn-danger">Validation of your email address failed. Please try again later.</div>
        </div>
        <div class="card" *ngIf="emailconfirmok">
            <div class="card-body btn-success">Your email address was confirmed! Many thanks for joining Questionsly!</div>
        </div>
        <div class="card" *ngIf="completedform">
            <div class="card-body btn-success">Many thanks for completing a form on Questionsly!</div>
        </div>
        <feed-list [user]="null"></feed-list>
    </div>
  
    <div class="col-md-3" id="rightSideOfContainer">
        <right-panel [loggedin]="loggedin"></right-panel>
    </div>

</div>
</div>