<div class="fBody" *ngIf="!hide && form.found" [ngClass]="{highlightedForm: form.highlight}">
    <div class="topContainer">
        <div class="imageContainer">
            <a [routerLink]="form.authorlinkdisabled ? null : ['/profile', form.authorlink]" >
                <div *ngIf="form.pictype == 'fb'">
                    <img src="https://graph.facebook.com/{{form.pic}}/picture?width=30&height=30" class="userImage" />
                </div>
                <div *ngIf="form.pictype == 'local'">
                    <img [src]="form.pic" class="userImage" />
                </div>
                <div *ngIf="form.pictype == 'default'">
                    <img *ngIf="form.authorgender == 'male'" src="/images/male.png" class="userImage"/>
                    <img *ngIf="form.authorgender == 'female'" src="/images/female.png" class="userImage"  />
                </div>
                <div *ngIf="form.pictype == 'anonymous'">
                    <img src="/images/question.jpg" class="userImage"/>
                </div>
            </a>
            <div class="userInfoBox">
                <p class="nameTitle" style="margin-bottom:0px"><b>{{name.first}} {{name.last}}</b></p>
                <p class="locationTitle qslyGray" style="margin-bottom:-4px" *ngIf="location.country">{{location.city}}, {{location.state}}, {{location.country}}</p>
                <span class="partTitle qslyGray">Asked: {{nocreated}}</span>
                <span class="partTitle qslyGray">Taken: {{notaken}}</span>
                <span class="partTitle qslyGray">Comments: {{nodiscussion}}</span>
            </div>

        </div>

        <!-- Categories -->
        <div *ngIf="form.hashtags" class="cTagContainer">
            <span class="cTag qslyGray" *ngFor="let tag of form.hashtags; let i = index">{{tag}}</span>
        </div>
    </div>

    <div class="share">
        <div class="col p-0" *ngIf="loggedin">
            <div ngbDropdown placement="bottom-right" class="mouseChangeToHand" id="form-menu-wrapper">
                <a class="navlinks nav-link custom-dropdown-toggle" id="form-menu" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </a>
                <div ngbDropdownMenu aria-labelledby="form-menu">
                    <a class="dropdown-item" (click)="shareForm()" *ngIf="form.admin || form.public">Share Link</a>
                    <a class="dropdown-item" (click)="releaseForm()" *ngIf="form.admin && !form.shared">Release</a>
                    <a class="dropdown-item" (click)="expireForm()" *ngIf="form.admin && !form.expired">Expire </a>
                    <a class="dropdown-item" target="_self" href="{{form.download}}" *ngIf="form.admin && form.typeevent">Download data</a>
                    <a class="dropdown-item" (click)="deleteForm()" *ngIf="form.admin">Delete</a>
                    <a class="dropdown-item" (click)="reportForm()" *ngIf="!form.admin">Report abuse</a>
                    <a class="dropdown-item" (click)="beginPDF()" *ngIf="form.admin || form.answered">Export as PDF</a>
                    <a class="dropdown-item" (click)="toggleShareEmails()" *ngIf="form.admin || form.answered">Email PDF Report</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Response Count -->
    <div *ngIf="false" class="topContainer">
        <div id="completedBlock" *ngIf="submitted">
            <span id="answerCount" class="qslyGray">Answered {{count ? count : '<5'}} {{count > 1 ? 'Times' : 'Time'}}</span>
        </div>
    </div>
    

    <!-- Share Report Email Field -->
    <div *ngIf="shareEmails" class="flex">
        <div *ngIf="!shareEmailStatus" class="shareEmailContainer">
            <p class="headline qslyBlack">Enter Recipient Email(s)</p>
            <input class="emailInput" type="text" #shareEmails placeholder="Seperate emails with a comma" />
            <div>
                <a class="submitButton qslyGray" (click)="toggleShareEmails()">Cancel</a>
                <a class="submitButton qslyGray positive" style="margin-left: 12px" (click)="exportPDF(false, shareEmails.value)">Send</a>
            </div>
        </div>

        <div *ngIf="shareEmailStatus" class="shareEmailContainer">
            <p class="headline qslyGray" style="margin: 10px">{{shareEmailStatus}}</p>
        </div>


    </div>

    <!-- QUESTIONS CONTAINER -->
    <div class="responseBox">
        <mini-show-form
            class="maxWidthOfParent"
            [count]="count"
            [data]="form"
            [shortAnswers2]="shortAnswers2"
            [expired]="form.expired"
            [isMyPost]="isMyPost"
            [me]="me"
            [showSubmit]="showsubmit && !form.expired"
            [submitted]="submitted"
            [submissionfailed]="submissionfailed"
            (submitForm)="postForm($event)"
            (toggleFilters)="toggleFilters($event)"
            *ngIf="form.questions != null"></mini-show-form>
    </div>


    <!-- Graph Filters -->
    <form *ngIf="showFilter && form.answered && !form.contracted && showdiscussion && !form.typeevent" [formGroup]="dataselectionform" style="margin-bottom: 0px; padding-bottom: 10px;">
        <div id="analysisContainer">

            <div class="filterBox">
                <p class="filterCategory qslyGray">Gender</p>
                <angular2-multiselect style="width: 110px" [data]="genderList" [settings]="genderSettings" [(ngModel)]="genderSelected" (onSelect)="onItemSelect($event)"
                    (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" formControlName="gender">
                </angular2-multiselect>
            </div>

            <div class="filterBox">
                <p class="filterCategory qslyGray">Age</p>
                <angular2-multiselect style="width: 110px" [data]="ageList" [settings]="ageSettings" (onSelect)="onItemSelect($event)" [(ngModel)]="ageSelected"
                    (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                    formControlName="age">
                </angular2-multiselect>
            </div>

            <div class="filterBox">
                <p class="filterCategory qslyGray">Location</p>
                <angular2-multiselect style="width: 160px" [data]="locationList" [settings]="locationSettings" [(ngModel)]="locationSelected"
                    (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                    formControlName="locations">
                </angular2-multiselect>
            </div>
        </div>
        <div *ngIf="!form.loginRequired" class="flex" style="justify-content: flex-start; padding-left: 25px;">
            <span class="partTitle" style="color: #CCC">*Unknown = Responses made without an account</span>
        </div>
    </form>


    <!-- End Graph Filters -->



    <div class="flex" *ngIf="form.contracted" style="padding-top: 0px">
        <button (click)="expand()" class="submitButton qslyGray">
            See More
        </button>
    </div>
</div>



<discussion-list *ngIf="!hide && form.found" [loggedin]="loggedin" [pic]="pic" [pictype]="pictype" [form]='form' [id]="form.id"></discussion-list>






<confirmation-popup></confirmation-popup>
<ng-template #shareModal let-c="close" let-d="dismiss">
    <div class="shareContainer">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" style="font-size:30px;">&times;</span>
        </button>
        <h3 style="font-family:karla; text-align: center; color:#AAA">Share</h3>

        <div style="margin-bottom:12px">
               <h6 style="font-family:karla; margin-bottom:5px; font-weight:bold; color: #CCC;"> Share link
            </h6>
            <a href="{{shareUrl}}" style="font-size:0.7rem" target="_blank">{{shareUrl}}</a>
        </div>

        <div *ngIf="loggedin">
            <h6 style="font-family:karla; font-weight:bold; color: #CCC;">Community</h6>

            <yourcomm-list [link]="form.id"></yourcomm-list>
        </div>
    </div>
</ng-template>
