$formContainerColor: #fff;
$whiteColor: #fff;
$insideColor: #F6F6F6;
$navBarColor:  #0088cc;
$primaryColor: #28ab64;


#FeedContainer {
  background-color: $whiteColor;
  min-height: 100%;
  padding-top: 20px;
  overflow:auto;
  margin-top: 30px;
}

#topJumbo {
  border: 10px;
  background: $insideColor;
}

#askBtn {
  display: block;
  margin: 0px auto;
  margin-top: 15px;
  min-width: 250px;
  padding: 4px 10px;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  background-color: $primaryColor;
  // border: 3px solid $primaryColor;
  border-radius: 10px;

  &:hover {
    background-color: lighten($primaryColor, 10);
  }

  @media (max-width: 767px) {
    margin-top: 8px;
  }

}

.fa-heart {
  color: $navBarColor;
;
}

.mouseChangeToHand{
  cursor: pointer;
  cursor: hand;
}

#buttonATag {
  color: $navBarColor;
  background-color: $whiteColor;
  border:none;
}

#buttonText {

}

#addOptionBtn{
  margin-bottom: 10px;
}

#optionsdivider {
  margin-top: 20px;
  margin-bottom:20px;
}

.statusMessage {
  width: 100%;
  color: white;
  text-align: center;
  font-size: .7rem;
  padding: 15px 40px;
  border-radius: 8px;
  background: lighten(#28ab64, 14);
  margin-bottom: 18px;
  margin-top: -8px;

  &.bad {
    background: #d74a4a;
  }
}