$formContainerColor: #fff;
$whiteColor: #fff;
$insideColor: #F6F6F6;
$navBarColor:  #0088cc;
$primaryGreen: #1E824C;

#FeedContainer {
  background-color: $whiteColor;
  min-height: 100%;
  padding-top: 20px;
  overflow:auto;
  border-radius: 1%;
  margin-top: 30px;
}

#topJumbo {
  border: 10px;
  background: $insideColor;
}

#askBtn {
  display: block;
  margin: 10px auto ;
  width: 90%;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: $primaryGreen;
  border: 3px solid $primaryGreen;
  border-radius: 10px;

  &:hover {
    background-color: lighten($primaryGreen, 10);
  }


}

.fa-heart {
  color: $navBarColor;
;
}

.mouseChangeToHand{
  cursor: pointer;
  cursor: hand;
}

#buttonATag {
  color: $navBarColor;
  background-color: $whiteColor;
  border:none;
}

#buttonText {

}

#addOptionBtn{
  margin-bottom: 10px;
}

#optionsdivider {
  margin-top: 20px;
  margin-bottom:20px;
}

