$formContainerColor: #fff;
$whiteColor: #fff;
$insideColor: #F6F6F6;
$navBarColor:  #0088cc;
$borderColor: #E2E2E2;
$primaryColor: #28ab64;



.formChoices {
  font-weight: 500;
  width: 95%;

  & label {
    font-size: 1rem;
    font-family: Karla;
    padding-left: 8px;
  }

  &.sa, &.num {
    margin-left: 10px;
  }
}

.miniFormQuestionBox {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0px;
  }
}

.noBotMargin {
  margin-bottom: 0px;
}


#createFormContainer {
  background-color: $whiteColor;
  min-height: 100%;
  padding-top: 20px;
  overflow:auto;
  border-radius: 1%;
  margin-top: 30px;
}

#topJumbo {
  border: 10px;
  background: $insideColor;
}

.fa-heart {
  color: $navBarColor;
;
}

.mouseChangeToHand{
  cursor: pointer;
  cursor: hand;
}

#buttonATag {
  color: $navBarColor;
  background-color: $whiteColor;
  border:none;
}

#addOptionBtn{
  margin-bottom: 10px;
}

#optionsdivider {
  margin-top: 20px;
  margin-bottom:20px;
}



.form-control input {
  vertical-align: middle;
}

#survey-title {
  text-align: center;
}
#survey-description {
  text-align: center;
  font-size: 20px;
}

.question-pic {
  img {
    height: 180px;
  }
}

.expand-button {
  float: right;
}

.submitted-message {
  font-size: 1.25rem;
}

$warningColor: rgb(234, 122, 133);
.ng-invalid.ng-touched {
    border-color: $warningColor;
}
.invalid-feedback {
    color: $warningColor;
    display: block;
}

.rank {
  background-color: green;
  width: 30px;
  height: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  color: white;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  margin-top: 2px;
}

.matrix {
  td {
      padding: 10px 20px;
      vertical-align: top;
      white-space: nowrap;
  }
  tbody {
      tr:nth-child(even) {
          background-color: #F6F6F6;
      }
      td.field {
          text-align: center;
      }
  }
}

.flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.submitBox {
  margin-top: 15px;
}

.submitButton {
    background: #FFF;
    border-radius: 8px;
    padding: 2px 14px;
    line-height: 1rem;
    width: auto;
    text-align: center;
    border: none;
    border: solid 1px #999;

    font-size: 1rem;
    font-family: Karla;
    // color: #FFF !important;
    color: #999 !important;
    outline-style: none;
    margin-top: 0px;

    &.smaller {
      padding: 1px 8px;
      font-size: .7rem;
      line-height: .7rem;
    }

    &:active {
        outline-style: none;
    }

    &:hover {
        cursor: pointer;
        color: #2b2b2b !important;
        border: solid 1px #2b2b2b;
    }
}

.errorText {
  color: lighten($primaryColor, 14);
  font-size: 1rem;
  font-family: Karla;
}

.wAnswerOpts {
  color: #999; 
  font-size: .8rem;
}

.lead {
  font-weight: 700;
  color: #333;

  @media (max-width: 767px) {
    font-size: .95rem;
  }
}

.txtarea {
  border: 1px solid $borderColor;
}

.sa-response-container {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  label {
    display: block;
    margin-right: 14px;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}