<!-- <div class="container"> -->
    <form [formGroup]="questionnaire">
        <div formArrayName="questions">
                <div class="row miniFormQuestionBox" [ngClass]="{noBotMargin: i == 0 && data.contracted}" style="display:flex; align-items: center;" *ngFor="let question of data.questions; let i = index">
                    <div *ngIf="(data.answered && data.showdata);then withanswer else formonly"></div>

                    <ng-template #withanswer>

                        <!-- LHS -->
                        <div *ngIf="question.kind === 'Short Answer' && (i == 0 || !data.contracted)" class="col-md-12">
                            <label class="lead">{{question.number + 1}}. {{question.body}}<span *ngIf="question.required" class="lead">*</span></label>
                            <div *ngIf="question.pic" class="form-group question-pic"><img style="border-radius: 8px;" [src]="question.pic" /></div>
                            <label class="wAnswerOpts">Data is currently unavailable for text-based responses</label>
                        </div>

                        <!-- Make the question full width -->
                        <div *ngIf="question.kind !== 'Short Answer' && (i == 0 || !data.contracted)" class="col-md-12">
                            <label class="lead">{{question.number + 1}}. {{question.body}}<span *ngIf="question.required" class="lead">*</span></label>
                        </div>

                        <div *ngIf="question.kind !== 'Short Answer'" class="col-md-6">
                            <div class="mx-auto form-group" [formGroupName]="i" *ngIf="i == 0 || !data.contracted">
                                <div *ngIf="question.pic" class="form-group question-pic">
                                    <img style="border-radius: 8px;" [src]="question.pic"/>
                                </div>

                                <!-- <div  *ngIf="question.options"> -->
                                    <div *ngIf="question.kind == 'Multiple Choice'">
                                        <div>
                                            <div *ngFor="let option of question.options" class="formChoices">
                                                <label class="wAnswerOpts">{{option.label}}. {{option.body}}</label>
                                            </div>
                                            <label *ngIf="question.canSelectMultiple" class="wAnswerOpts" style="font-size: .6rem; margin-left: 8px;">*Multiple Selection</label>
                                        </div>
                                    </div>
                                <!-- </div> -->

                                    <div *ngIf="question.kind == 'Rating'" class="formChoices">
                                        <label class="wAnswerOpts">Out of scale of {{question.scale}}</label>
                                    </div>


                                    <div *ngIf="question.kind == 'Number'" class="formChoices">
                                        <label class="wAnswerOpts" *ngIf="!question.boundaries">Answer could have been any number</label>
                                        <label class="wAnswerOpts" *ngIf="question.boundaries">Answer was a number between {{question.lowerBoundary}} and {{question.upperBoundary}}</label>
                                    </div>


                            </div>
                        </div>

                        <!-- RHS -->
                        <div *ngIf="question.kind !== 'Short Answer'" class="col-md-6">
                            <!-- <app-chartjs [dataLabels]="data.plotdata[i][0]" [dataValues]="data.plotdata[i][1]" [questionkind]="question.kind" *ngIf="(i == 0 || !data.contracted) && data.viewGraphsbool"></app-chartjs> -->
                            <!-- <miniresults-table-component [data]="data.eventdatatotals[i]" *ngIf="(i == 0 || !data.contracted) && data.viewGraphsbool && data.viewTablesbool"></miniresults-table-component> -->
                                
                            
                            
                            <!-- ********** Chart ************ -->
                            <div *ngIf="(i == 0 || !data.contracted) && data.viewGraphsbool">
                                <pie-chart [qKind]="question.kind" [dataLabels]="data.plotdata[i][0]" [dataValues]="data.plotdata[i][1]" [dataCounts]="data.plotdata[i][2]" [count]="count" ></pie-chart>
                            </div>
                            <div *ngIf="(i == 0 || !data.contracted) && data.viewGraphsbool" style="display: flex; width: 100%; justify-content: center">
                                <a class="submitButton" (click)="toggleFilter()">{{showFilters ? 'Hide Filters' : 'Apply Filters'}}</a>
                            </div>
                       
                       
                        </div>
                    </ng-template>


                    <ng-template #formonly>
                        <div class="col-md-12">
                            <div class="mx-auto form-group" [formGroupName]="i" *ngIf="i == 0 || !data.contracted">
                                <label class="lead">{{question.number + 1}}. {{question.body}}
                                    <span *ngIf="question.required" class="lead">*</span>
                                    <span *ngIf="question.kind === 'Number' && question.boundaries" style="color: #999; font-size: .8rem">(Number between {{question.lowerBoundary}} and {{question.upperBoundary}})</span>
                                </label>
                                <div *ngIf="question.pic" class="form-group question-pic">
                                    <img style="border-radius: 8px;" [src]="question.pic"/>
                                </div>
                                <div  *ngIf="question.options">
                                    <div *ngIf="question.kind == 'Multiple Choice'">
                                        <div *ngIf="!question.canSelectMultiple">
                                            <div *ngFor="let option of question.options" class="formChoices">
                                                <input (click)="loginPopup.check(data.loginRequired)" formControlName="answer" [value]="option.label" type="radio" />
                                                <label>{{option.body}}</label>
                                            </div>
                                        </div>
                                        <div *ngIf="question.canSelectMultiple" formGroupName="answer">
                                            <div *ngFor="let option of question.options" class="formChoices">
                                                <label>
                                                    <input (click)="loginPopup.check(data.loginRequired)" [formControlName]="option.label" type="checkbox" /> {{option.body}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div *ngIf="question.kind == 'Rank'" formGroupName="answer">
                                        <div [dragula]="'bag'" [dragulaModel]="questionnaire.get('questions').controls[i].get('answer').value">
                                            <div *ngFor="let option of questionnaire.get('questions').controls[i].get('answer').value; let j = index" class="formChoices">
                                                <span class="rank">{{j + 1}}</span>
                                                <label>{{option.body}}</label>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>

                                <star-array *ngIf="question.kind == 'Rating'" (selected)="setRating($event, i)" formGroupName="answer" [scale]="question.scale"></star-array>

                                <input (click)="loginPopup.check(data.loginRequired)" type="number" min="question.lowerBoundary" max="question.upperBoundary"
                                    class="formChoices num" formControlName="answer" *ngIf="question.kind == 'Number'" />

                                <!-- <input (click)="loginPopup.check(data.loginRequired)" type="text" class="formChoices" formControlName="answer" *ngIf="question.kind == 'Short Answer'"/> -->
                                <textarea class="formChoices sa txtarea" formControlName="answer" *ngIf="question.kind == 'Short Answer'"></textarea>
                                <div *ngIf="isInvalid(i)" class="invalid-feedback">
                                    Option is required
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </div>
        </div>

        <div class="flex submitBox"  *ngIf="!data.contracted && !submitted">
            <button *ngIf="showSubmit" class="submitButton"
                [disabled]="questionnaire.invalid && questionnaire.wasChecked" (click)="checkSubmit($event)">
                Finish
            </button>
            <p *ngIf="errorText">Submission failed!</p>
            <p *ngIf="expired" class="errorText">The survey has expired, no further answers are allowed!</p>
        </div>

</form>
<!-- </div> -->
<login-popup #loginPopup></login-popup>