$navBarColor:  #1E824C;

.modal-header, .modal-footer {
  padding: 6px 15px;  
}
.modal-body {
  padding: 18px 15px;
}

.modal-title, .modal-footer button {
  font-size: 16px;  
}

.modal-header {
  background-color: $navBarColor;
  .modal-title {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
  }
}
.modal-footer {
  background-color: #eee;
  border-top: 2px solid #ddd;

  button {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  // min-width: 800px;
  width: auto;
  max-height: 80vh;
  height: auto;
  overflow-y: scroll;
  padding: 10px 20px 50px 20px;


  @media (max-width: 767px) {
    min-width: auto;
    max-width: 90%;
  }
}

.question {
  width: 100%;
  text-align: center;
  font: {
    size: 1.4rem;
    family: Karla;
  }
  color: #999999;
  margin: 25px 0;

  span {
    color: #CCC;
    font-size: 1.2rem;
  }
}

.response-container {
  width: 100%;
  padding: 0 15px;
}

.author {
    font: {
    size: 1.2rem;
    family: Karla;
  }
  color: #666;
  margin-right: 8px;
}

.response {
  font: {
    size: 1rem;
    family: Karla;
  }
  color: #333;
}

.response-image {
  width: 40px;
  height: 40px;
  margin-right: 6px;
  border-radius: 8px;
}