<ng-template #content let-c="close" let-d="dismiss" class="display:flex; justify-content: center; align-items: center;">
    <div class="modal-container">
        <p class="question qslyGray">All Responses <span>({{answers.length}})</span></p>
        <div class="response-container" *ngFor="let ans of answers; let x = index;">
            <div>
                <img class="response-image" src="{{ans[ans.length -1].pic}}" />
                <span class="author qslyGray">{{ans[ans.length -1].name}}:</span>
                <span class="response qslyBlack">{{ans[index]}}</span>
            </div>
            <hr>
        </div>
    </div>
</ng-template>