$color1: #28ab64;

.starArray {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

.star {
    margin: 0px 2px;

    &:hover {
        cursor: pointer;
    }
}