<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Crop your image</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" style="font-size:30px;">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="cropper-cover" [ngClass]="{'img-loaded': imgLoaded}"></div>
        <div id="cropper-wrapper" [ngClass]="{'img-loaded': imgLoaded}">
        <image-cropper
            [imageChangedEvent]="imgChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            [resizeToWidth]="80"
            format="png"
            (imageCropped)="cropped = $event"
            (imageLoaded)="onImgLoaded()"
        ></image-cropper>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="c(true)">Done</button>
    </div>
</ng-template>
