<li [ngClass]="{'question': true, 'silent': data.silent}" [formGroup]="form">
  <div *ngIf="data.name === 'school'">
    <div class="body">{{data.body}}</div>
    <select #select (change)="text.value = ''" class="form-control d-inline" [formControlName]="data.name">
      <option selected value="">Select Your School</option>
      <option *ngFor="let option of data.options" [value]="option.value">{{option.label}}</option>
    </select>
    <span style="margin:0 5px">or</span>
    <input #text type="text" placeholder="Enter Your School" (change)="select.value = ''" [formControlName]="data.name" class="form-control d-inline" />
  </div>
  <div *ngIf="data.name !== 'school'">
    <div *ngIf="data.body" class="body">{{data.body}}</div>
    <div *ngIf="data.type == 'text'">
      <input class="form-control" type="text" [formControlName]="data.name" [placeholder]="data.placeholder || ''"/>
    </div>
    <div *ngIf="data.type == 'radio'" class="options-container">
      <div *ngFor="let option of data.options" class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" [value]="option.value" [formControlName]="data.name">
          {{option.label}}
        </label>
      </div>
    </div>
    <select *ngIf="data.type == 'dropdown'" class="form-control" [formControlName]="data.name">
      <option selected value="">{{data.placeholder}}</option>
      <option *ngFor="let option of data.options" [value]="option.value">{{option.label}}</option>
    </select>
  </div>
  <div *ngIf="data.subQuestions" class="sub-question-list">
    <div *ngFor="let condition of keys(data.subQuestions)">
      <ul [hidden]="condition !== valueLabel">
        <question 
          *ngFor="let subQuestion of data.subQuestions[condition]"
          class="question sub-question"
          [form]="subFormGroup" 
          [data]="subQuestion"
          [disabled]="condition !== valueLabel"
          [level]="level + 1">
        </question>
      </ul>
    </div>
  </div>
</li>