.iContainer {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-basis: 33%;
  margin-bottom: 3px;

  &:active {
    outline-style: none;
  }
}

a {
    font-weight: 400;
    font-family: Karla;
    font-size: .75rem;
    color: #333;
    display: block;
    padding: auto 5px;
    margin-top: 2px;

   &:hover {
    cursor: pointer;
  }
}

.commImg {
  width: 100%;
  height: 77px;
  // border-radius: 0px;

  &:hover {
    cursor: pointer;
  }

}

.imgDiv {
  position: relative;
  margin: 0px 2px;
  overflow: hidden;

  .commImg {
    transform: scale(1);
    object-fit: cover;
  }

  &:hover {
    .commImg {
      transform: scale(1.08);
      transition: all 100ms ease-in-out;
    }
  }

}


.commText {
  display: block;
  text-align: left;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 20px 0 4px 4px;
  // border-radius: 0 0 4px 4px;
  color: white;
  background: linear-gradient(0, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0));
  text-transform: capitalize;

  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 767px) {
    font-size: .55rem;
    // max-width: 36px;
  }
}
