<nav>
    <!-- <div class="left-block"> -->
        <img src="/assets/images/hamburger.svg" class="menu-icon" (click)="toggleSidebar()" />
        <div class="entry-block">
            <h1 class="entry-title">{{title}}</h1>
            <div class="member-icon-array">

            </div>
        </div>
        <div class="tabs">
            <span class="tab" [ngClass]="{active: currentTab == 'all'}" (click)="toggleTab('all')">All</span>
            <span class="tab" [ngClass]="{active: currentTab == 'myposts'}" (click)="toggleTab('myposts')">My Posts</span>
            <!-- <span class="tab" [ngClass]="{active: currentTab == 'answered'}" (click)="toggleTab('answered')">Answered</span> -->
            <span *ngIf="isGroupAdmin" class="tab" [ngClass]="{active: currentTab == 'settings'}" (click)="toggleTab('settings')">Settings</span>
        </div>
    <!-- </div> -->
    <div class="right-block">
        <input class="searchbar" placeholder="Search here" type="text" />
        <img src="https://picsum.photos/32/32/?random" class="user-icon">
    </div>
</nav>