<nav>
    <!-- <div class="left-block"> -->
        <img src="/assets/images/hamburger.svg" class="menu-icon" (click)="toggleSidebar()" />
        <div class="entry-block">
            <h1 class="entry-title">{{title}}</h1>
            <div class="member-icon-array">

            </div>
        </div>
        <div class="tabs">
            <span class="tab" [ngClass]="{active: !activeSubsection}"
                (click)="navigateTo('')">All</span>
            <span class="tab" [ngClass]="{active: activeSubsection == 'myposts'}"
                (click)="navigateTo('myposts')">My Posts</span>
            <span *ngIf="isGroupAdmin" class="tab" [ngClass]="{active: activeSubsection == 'settings'}"
                (click)="navigateTo('settings')">Settings</span>
        </div>
    <!-- </div> -->
    <div class="right-block">
        <notifications style="display: flex; align-items: center"></notifications>


        <input class="searchbar" placeholder="Search here" type="text" />
        <img src="{{profilePic}}" class="user-icon">
    </div>
</nav>
