$formContainerColor: #fff;
$whiteColor: #fff;
$insideColor: #e6f7ff;
$navBarColor:  #0088cc;

#createFormContainer {
    background-color: $whiteColor;
    min-height: 100%;
    padding-top: 20px;
    overflow:auto;
    border-radius: 1%;
    margin-top: 30px;
}

#topJumbo {
    border: 10px;
    background: $insideColor;
}

.fa-heart {
    color: $navBarColor;
;
}

.mouseChangeToHand{
    cursor: pointer;
    cursor: hand;
}

#link { 
    color: black;
}
