@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

$lightGray: #848484;

$navBarColor:  #0077b3;

#mainLoginPageContainer{
  margin-top: 40px;
}

.half {
  max-width: 450px;
}

.login-box {
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;

  .top {
    background-color: #fff;
    padding: 0 25px 15px 25px;
    color: #666;
    border-radius: 4px 4px 0 0;
    text-align: left;

    .left {
      float: left;
      width: 77%;
      padding-top: 25px;

      .title {
        color: #555;
        font-size: 22px;
        line-height: 30px;
      }

      p {
        margin: 0 0 10px;
      }
    }
  }
  .bottom {
    background-color: #eee;
    padding: 25px 25px 30px 25px;
    border-radius: 0 0 4px 4px;
    text-align: left;

    form {
      margin: 0;

      .form-control {
        font-size: inherit;
      }

      button {
        cursor: hand;
        color: #fff;
        font-size: inherit;
      }
    }
  }

  .alert {
    margin-bottom: 0;
  }
}

#separator-login {
    text-align: center;

    hr {
        display: inline-block;
        width: 42%;
        vertical-align: middle;
    }
    span {
        margin: 0 1%;
    }
}

#loginPageSocial {
    margin: 0 auto;

    .social-wrap {
      display: inline-block;
      margin-left: 5px;
    }
}

div.social-wrap button {
  padding-right: 45px;
  height: 35px;
  background: none;
  border: none;
  display: block;
  background-size: 35px 35px;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: white;
  font-family:"Merriweather Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  width: 205px;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: 0 4px 2px -2px gray;
  text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
  border-color: #2d5073;
  background-color: #3b5998;
  background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
  cursor: hand;
}
button#facebook:hover, button#facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
button#google {
  border-color: #BB3F30;
  background-color: #DD4B39;
  background-image: url(https://www.drupal.org/files/project-images/Google-login_0.png);
  cursor: hand;
}
button#google:hover, button#google:focus {
    background: #E74B37;
}
button#linkedin {
  border-color:  #007bb6;
  background-color:  #007bb6;
  background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/linkedin-icon.png);
  cursor: hand;
}
div.social-wrap button:active {
  background-color: #222;
}

$border-separator: 1px solid rgba(0,0,0,.1);

#separator-middle {
  min-height: 300px;
  border-right: $border-separator;

  @media (max-width: 767px) {
    min-height: auto;
    margin: 65px 30px;
    border-right: 0;
    border-top: $border-separator;
  }

  @media (min-width: 767px) {
    top: 185px;
  }
}

.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}

$warningColor: rgb(234, 122, 133);

.is-invalid {
  border-color: $warningColor;
}
.invalid-feedback {
  color: $warningColor;
  display: block;
}

#forgotPwdLink {
  margin-top: 20px;
  height: 0;
}

.centerContent {
  text-align: center;
}

.button {
  font-size: inherit;
}
