$whiteColor: #fff;
$primaryColor:  #28ab64;
$borderColor: rgb(226,226,226);
$navBarColor:  #FFF;
$primaryFont: Dosis;
$backgroundColor: #FFF;
$commentBackground: #f0f6f0;



/deep/ .navbar {
  @media (max-width: 768px) {
    padding-left: 15px;
    padding-right: 0;
  }
}


/* change the background color */
// .navbar-custom {
//   background-color: $navBarColor !important;
//   height: 52px;
//   padding: 0px 15%;

//   @media (max-width: 768px) {
//     padding: 0px 5%;
//   }
// }

.navbar-light {
    display:flex;
    justify-content: space-between;
    background-color: $navBarColor !important;
    padding: 0px 20%;
    border-bottom: 1px solid $borderColor;
    
  @media (min-width: 768px) {
      height: 52px;
  }

  @media (max-width: 767px) {
    padding: 2px 5%;
    // height: 50px;
  }
}

.navbar-light .navbar-text,
.navbar-light .navbar-brand{
  color: $primaryColor;
  font-weight: 700;
}

.navbar-brand {
  @media (max-width: 767px) {
    padding: 4px 0px;
  }
}

.navlinks {
  color: $primaryColor !important;
}


.icons {
  color: #666 !important;
}

.nav-item {
  cursor: hand;
  margin-right: 5px;

  i.fa {
    width: 14px;
  }
}

.bordTop {
  @media (max-width: 767px) {
    border-top: 1px solid $borderColor;
  }
}

.align-right {
  text-align: right;
}

.dropdown-toggle {
  display: inherit;
}


.notification {
  background: #FFF;
  &.new {
    color: #fff !important;
    background-color: #eafff4;
    // border-bottom: 1px solid darkgreen;
    &:hover {
      background-color: #F0F0F0;
      color: #fff !important;
    }
  }
  &:hover:not(.new) {
    background-color: #eee;
    color: #000 !important;
  }
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: $primaryColor;
  font-weight: 700;
}

.navli:hover {
  background: $whiteColor;
  color: $navBarColor;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #999;
}

.mouseChangeToHand{
  cursor: pointer;
  cursor: hand;
}

.newnotification {
  color: darkred;
}

img {
  width: 40px;
}

// .navbar-toggler {
//   margin-top: -7px;
//   margin-left: -5px;

//   i {
//     color: #fff;
//     font-size: 22px;
//   }
// }


.searchContainer {
  display: flex;
  justify-content: center;
  width: 250px;
  margin-left: 12px;

  @media (max-width: 767px) {
    width: 100%;
    margin-left: 0px;
  }

}

.searchbar {
  width: 100%;
  padding: 2px;
  font-size: .85rem;
  font-family: Karla;
  text-align: center;
}

.userImage {
  width: 28px;
  height: 28px;
  border-radius: 14px;

  @media (max-width: 767px) {
    width: 24px;
    height: 24px;
  }
    
}

.notification-icon {
  display: flex;
  align-items: center; 
  margin-right: 25px; 
  align-items: center;
}

.notification-bubble {
  background: lighten($primaryColor, 14);
  padding: 1px 3px;
  color: white;
  font-family: Karla;
  top: 10px;
  right: -13px;
}

.iconActive {
  color: $primaryColor !important;
}

.notificationDropdown {
  background: #FFF;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: none;

  position: absolute;
  right: -10px;
  top: 30px;
  width: 400px;
  border-radius: 4px;
  border: 1px solid $borderColor;

  @media(max-width: 767px) {
    width: 90vw;
    max-height: 80vh;
    right: -12vw;
  }
}

// .boxTip {
//   position: absolute;
//   right: -10px;
//   top: 32px;
// }

.dropdownItem {
  cursor: hand;
  padding: 6px 15px 5px 12px;
  &:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
  }
  &:hover {
    background-color: lighten($primaryColor, 14);
    color: #fff !important;
  }
  width: 100%;
  align-items: center;
  background-color: #FFFFFF;
}


.flex {
  display: flex;
  // width: 100%;
}

.fCol {
    flex-direction: column;
}

.notifImage {
  height: 36px !important;
  width: 36px !important;
  border-radius: 24px;
  margin-right: 6px;
}

.toggleNot {
  &:hover {
    cursor: pointer;
  }
}

.noNotifications {
  text-align: center;
  font-family: Helvetica Neue;
  color: #CCC;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 10px 0px;
}

.notifTextCont {
  border: 1px solid #FFFFFF;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  display: flex; 
  justify-content: space-between; 
  padding: auto 8px;

  .notifLabel {
    margin: 0;
    padding: 5px 10px;
    font-size: .75rem;
    font-family: Karla;

    &.markAll {
      &:hover {
        cursor: pointer;
        font-weight: 700;
      }
    }
  }

}

.notVisible {
  visibility: hidden;
}

.noTopBorder {
  border-top: none;
}

.showMoreLabel {
  text-align: center;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}


.acceptButton {
    background: $primaryColor;
    border-radius: 8px;
    padding: 4px 8px;
    border: none;
    text-align: center;
    font-size: .7rem;
    font-family: Karla;
    color: #FFF !important;
    outline-style: none;
    margin: 0px 3px;

    &:active {
        outline-style: none;
    }

    &:hover {
        cursor: pointer;
        background: lighten($primaryColor, 5);
    }
}

.denyButton {
    background: #FFF;
    border-radius: 8px;
    padding: 4px 8px;
    text-align: center;
    border: none;
    border: solid 1px #999;
    font-size: .7rem;
    font-family: Karla;
    color: #999 !important;
    outline-style: none;
    margin-top: 0px;

    &:active {
        outline-style: none;
    }

    &:hover {
        cursor: pointer;
        color: #2b2b2b !important;
        border: solid 1px #2b2b2b;
    }
}

.rightNavList {
  list-style: none;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0;
  justify-content: space-between;
}

.mobHide {
  @media (max-width: 767px) {
    display: none;
  }
}

.mobShow {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

.logo {
  width: 24px;

  @media (max-width: 767px) {
    width: 20px;
  }
}