.flex {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    z-index: 0;
}

.flex-jcfe {
    justify-content: flex-end;
}

.flex-jcse {
    justify-content: space-evenly;
}

#main-container {
    // padding: 0 64px;
    padding-top: 120px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        padding-top: 100px;
    }
}

.feed-column {
    width: 100%;
    max-width: 560px;
}

#sidebarPlaceholder {
    min-width: 216px;
    height: 100vh;
    background: #28ab64;
    
    @media (max-width: 768px) {
        display: none;
    }
}

.fullMobile {
    @media (max-width: 768px) {
        width: 100%;
        order: -1;
    }
}

#settings-title {
    font: {
        size: 2rem;
        family: "Fira Sans";
        weight: 600;
    }
    color: #484848;
    margin-left: 0px;
    margin-bottom: 4px;
}

#settings-subtitle {
    font: {
        size: 1rem;
        family: "Fira Sans";
        weight: 400;
    }
    color: #999999;
    margin-left: 0px;
    margin-bottom: 24px;
}

#share-link {
    font: {
        size: 1.2rem;
        family: "Fira Sans";
        weight: 400;
    }
    color: #28ab64;
    margin-left: 0px;
    margin-bottom: 3px;
}
