// bootstrap variables override //
// $font-size-base: 0.875rem !default; // 1rem = 16px
// -- //

// Importing the last version of bootstrap from npm module like this breaks the app's scrollbars
// @import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,700|Karla:400,700|Quicksand:400,500,700|Raleway:300,400,500,600,700');

$navBarColor:  #1E824C;

// this is to avoid the base font size change done in public/stylesheets/style.css to affect lead classes
/deep/.lead {
  div, p, span, li, label, input, textarea, select, option, button, a {
    font-size: 1.25rem;
  }
}

/deep/ .emoji {
  height: 1rem;
  width: 1rem;
  background-size: contain;
  display: inline-block;

  &.lead-size {
    height: 1.25rem;
    width: 1.25rem;
  }
  &.small-size {
    height: 0.8rem;
    width: 0.8rem;
  }

  &.emoji-wink {
    background-image: url('/images/emoji-wink.png');
  }
  &.emoji-thinking {
    background-image: url('/images/emoji-thinking.png');
  }
}

/deep/ .position-relative {
  position: relative;
}

/deep/ .main-container {
  background-color: transparent;
  overflow:auto;
  border-radius: 8px;
  margin-top: 30px;
  &.padded {
    padding: 20px 30px;
  }
}

/deep/ .secondary-container {
  padding: 20px 0;
}

/deep/ button {
  cursor: hand;
}

/deep/ .custom-dropdown-toggle {
  &::after {
    content: none;
  }
}

/deep/ .notification-bubble {
  position: absolute;
  top: -8px;
  right: -6px;
  background-color: red;
  border-radius: 2px;
  padding: 1px 2.5px;
  font-size: 12px;
}

/deep/ tag-input {
  font-size: 0.8em;

  tag {
      padding: 0px 6px !important;

      delete-icon {
          margin-top: -1px;
      }
  }

  .ng2-tag-input {
      border-bottom: none !important;
  }
}

/deep/ a.regular {
  color: blue !important;
  text-decoration: underline !important;
  cursor: hand;
}

/deep/ .adaptable-matrix {
  //text-align: center;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: center;
  align-content: flex-start;

  /deep/ .adaptable-matrix-unit {
    width: 78px;
    height: 78px;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
    position: relative;
    background-color: #818182;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    a {
      position: absolute;
      padding-left: 3px;
      padding-bottom: 2px;
      font-size: 12px;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    }
  }
}

/deep/ ngb-tooltip-window {
  .arrow {
    top: 44% !important;
  }
}

/deep/ .form-control:focus {
  border-color: $navBarColor !important;
  box-shadow: 0 0 0 0.2rem rgba(30, 130, 76, .25);    
}

/deep/ .invalid-feedback {
  font-size: 14px !important;  
}

/deep/ .underlined-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-width: 2px;
  box-shadow: none !important;

  &:focus {
      box-shadow: none !important;
  }
  &.active {
      border-color: $navBarColor;
  }
  &.is-invalid {
      box-shadow: none !important;
  }
}

/deep/ .btn-primary {
  background-color: $navBarColor;
  border-color: $navBarColor;
  &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active {
      color: #fff;
      background-color: $navBarColor;
      border-color: $navBarColor;
      box-shadow: 0 0 0 0.2rem rgba(30, 130, 76, 0.5);
  }
  i {
      margin-right: 5px;
  }
  &:hover {
    background-color: darkgreen;
  }
}

/deep/ .btn-outline-secondary {
  color: $navBarColor;
  border-color: $navBarColor;
  box-shadow: none !important;
  &:hover {
      color: #fff;
      background-color: $navBarColor;
  }
}

/deep/ .input-group-append {
  .btn {
    border-color: #ced4da;
  }
}

/deep/ .dropdown-item:active {
  background-color: $navBarColor;
}

/deep/ .ng2-dropdown-menu {
  z-index: 99999 !important;
}