$formContainerColor: #fff;
$whiteColor: #fff;
$insideColor: #F6F6F6;
$navBarColor:  #0088cc;

#SearchPageContainer {
  background-color: $whiteColor;
  padding-top: 20px;
  overflow:auto;
  border-radius: 1%;
  margin-top: 30px;
}