<div class="pageLayout">
    <h3 class="name qslyGray" *ngIf="!shareLink">Create {{category.displayName}}</h3>
    <h3 class="name qslyGray" *ngIf="shareLink">{{category.displayName}} Created</h3>

    <form id="main-form" [formGroup]="fgCreateGroup" class="container" *ngIf="!shareLink">
        <div class="flexContainer fdColumn faStart">
            <h6 class="title firstTitle">
                {{category.displayNameShort}} Name
                <span class="valError" *ngIf="fgCreateGroup.controls['title'].invalid && fgCreateGroup.controls['title'].touched">*The name cannot be empty.</span>
            </h6>
            <div style="display: flex; align-items: center; width: 100%">
                <label style="margin-right: 10px; color: #CCC; margin-bottom: 0px;">-</label>
                <input class="niceTextInput qslyGray" formControlName="title" autofocus />
            </div>
        </div>

        <div class="flexContainer fdColumn faStart" *ngIf="category.category == 'class'">
            <h6 class="title firstTitle">Session</h6>
            <div style="display:flex; justify-content: flex-start;">
                <app-desc-switch-buttons [active]="fgCreateGroup.get('forCurrentSession').value" [option]="true"
                    [title]="'Summer 2018'" [description]="''"
                    (selected)="toggleForCurrentSession($event)" formControlName="forCurrentSession"></app-desc-switch-buttons>
                <app-desc-switch-buttons [active]="fgCreateGroup.get('forCurrentSession').value" [option]="false"
                    [title]="'Fall 2018'" [description]="''"
                    (selected)="toggleForCurrentSession($event)" formControlName="forCurrentSession"></app-desc-switch-buttons>
            </div>
        </div>

        <div id="buttons" class="flexContainer" style="justify-content: center">
            <button
                    class="submitButton"
                    (click)="checkSubmit()">Create!</button>
        </div>

        <p class="valError" style="text-align: center" *ngIf="submissionfailed">
            Error, please try again.
        </p>
    </form>

    <div class="flexContainer fdColumn faStart" *ngIf="shareLink">
        <h6 class="title firstTitle">Share Link</h6>
        <p>Share this link with anyone who should join the {{category.displayName}}:</p>
        <p><a [href]="shareLink">https://questionsly.herokuapp.com{{shareLink}}</a></p>

        <div id="buttons" class="flexContainer" style="justify-content: center">
            <button class="submitButton" (click)="goToNewGroup()">Go to {{category.displayName}}</button>
        </div>
    </div>
</div>
