$formContainerColor: #fff;
$whiteColor: #fff;
$insideColor: #e6f7ff;
$navBarColor:  #0088cc;
$primaryColor: #28ab64;
$borderColor: rgb(226,226,226);
$color1: #28ab64;

h3 {
    margin: .7rem 0 .4rem 0;
}

.pageLayout {
    min-width: 600px;
}

#main-form > .row {
  margin-bottom: 40px;

  label.align {
    margin-top: 6px;
  }
}

.fa-heart {
  color: $navBarColor;
}

.mouseChangeToHand{
  cursor: pointer;
  cursor: hand;
}

$warningColor: rgb(234, 122, 133);
input.option-input.is-invalid {
  border: 2px solid $warningColor;
}
.form-control.is-invalid {
  border-color: $warningColor;
}
.invalid-feedback {
  color: $warningColor;
  display: block;
}

#comm-data {
  margin-top: -10px;
  padding: 0 15px;

  .form-group {
    text-align: center;
  }
  #comm-title {
    input {
      font-size: 30px;
      width: 70%;
    }
  }
  input {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.name {
  margin-bottom: 2px;
  font-family: Karla;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  width: 100%;
}

.submitButton {
    background: lighten($primaryColor,14);
    border-radius: 8px;
    padding: 3px 6px;
    line-height: 1.5rem;
    min-width: 100px;
    max-width: 150px;
    width: auto;
    text-align: center;
    border: none;

    font-size: .9rem;
    font-family: Karla;
    color: #FFF !important;
    outline-style: none;
    margin-top: 0px;

    &:active {
        outline-style: none;
    }

    &:hover {
        cursor: pointer;
        background: lighten($primaryColor, 18);
    }
}

.niceTextInput {
    background: none;
    outline-style: none;
    font-family: Helvetica Neue, sans-serif;
    border: none;
    font-weight: 300;
    // border-bottom: solid 1px $borderColor;
    padding: 2px;
    width: 100%;
    font-size: 1rem;
}


.niceTextAreaInput {
    background: none;
    outline-style: none;
    border: none;
    padding: 2px;
    width: 100%;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    overflow: hidden;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 25px;
    width: 95%;
}

.fdColumn {
    flex-direction: column;
}

.faStart {
    align-items: flex-start;
}

.fjCenter {
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.valError {
  color: #ff6969;
  font-size: .8rem;
  margin-left: 8px;
}
