<div class="pageLayout">
    <h3 class="name qslyGray" style="margin-bottom: 25px">Create {{category.displayName}}</h3>

    <form id="main-form" [formGroup]="fgCreateGroup" class="container">
        <div class="flexContainer fdColumn faStart">
            <h6 class="title firstTitle">Group Title <span class="valError" *ngIf="errors.title">*The title cannot be empty.</span></h6>
            <div style="display: flex; align-items: center; width: 100%">
                <label style="margin-right: 10px; color: #CCC; margin-bottom: 0px;">-</label>
                <input class="niceTextInput qslyGray" formControlName="title" autofocus />
            </div>
        </div>

        <div class="flexContainer fdColumn faStart" *ngIf="category.category == 'class'">
            <h6 class="title firstTitle">Session</h6>
            <div style="display:flex; justify-content: flex-start;">
                <app-desc-switch-buttons [active]="fgCreateGroup.get('forCurrentSession').value" [option]="true"
                    [title]="'Summer 2018'" [description]="''"
                    (selected)="toggleForCurrentSession($event)" formControlName="forCurrentSession"></app-desc-switch-buttons>
                <app-desc-switch-buttons [active]="fgCreateGroup.get('forCurrentSession').value" [option]="false"
                    [title]="'Fall 2018'" [description]="''"
                    (selected)="toggleForCurrentSession($event)" formControlName="forCurrentSession"></app-desc-switch-buttons>
            </div>
        </div>

        <div id="buttons" *ngIf="!visitbutton" class="flexContainer" style="justify-content: center">
            <button
                    class="submitButton"
                    (click)="checkSubmit()"
                    [disabled]="(fgCreateGroup.invalid && fgCreateGroup.touched) || submitted">Create!</button>
        </div>

        <p class="valError" style="text-align: center" *ngIf="errors.title">Uh oh, there has been an error creating the group. Check for errors above.</p>
    </form>
</div>
