$primaryColor:  #28ab64;
$lightGrey: #666;
$borderColor: rgb(226,226,226);

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Quicksand;
}

.sContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  border: solid 1px $borderColor;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 8px auto;
  padding: 12px 10px 0px 10px;

  @media (max-width: 768px) {
    flex-basis: 33%;
    margin: auto 0;
  }
}

.sMenu {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
  padding-top: 20px;
}

.icons {
  color: $primaryColor;
  display: block;
  font-size: 24px;

  &:hover {
    cursor: pointer;
  }
}

.line {
  height: 1px;
  border-top: $primaryColor solid 1px;
  width: 90%;
  margin: 4px auto;
}


.catList {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
  @media (max-width: 768px) {
    flex-flow: wrap;
  }
}

.catContainer {
  width: 95%;
  padding: 4px;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;

    .catTitle {
      color: $primaryColor;
    }
  }

  @media (max-width: 768px) {
    width: auto;
  }
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 12px;
}

.selected {
  color: $primaryColor !important;
}

.catIcon {
  width: 12px !important;
  color: #333 !important;
  margin-right: 10px;

  @media (max-width: 768px) {
    display: none;
  }
}

.catTitle {
  font-family: Karla;
  color: #666;
  font-weight: 300;
  font-size: .9rem;
  text-transform: capitalize;

  @media (max-width: 768px) {
    font-size: .62rem;
    font-weight: 700;
    margin-right: 3px;
  }
}

.emoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 10px auto;

  .emoAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    margin: 2px 8px;

    &:hover{
      cursor: pointer;
    }
  }
}

.hoverGrow {
    &:hover{
    cursor: pointer;

    .emoticon {
      height: 42px;
    }

    .emoText {
      font-size: .75rem;
    }

  }
}

.vCenter {
  align-items: center;
}

.emoticon {
  height: 32px;

  &.emoSelected {
    height: 60px;
  }

  &.blurred {
    opacity: .25;
  }
}


.emoText {
  font-family: Karla;
  color: $primaryColor;
  font-size: .65rem;
  font-weight: 700;
  text-align: center;
  width: 50px;
}

.emoSelected {
  font-weight: 700;
  font-size: .85rem;
  color: $primaryColor;
}


.title {
  font-family: Karla;
  color: #666;
  font-size: 1rem;
  margin: 5px auto;
}

.lpText {
  color: $lightGrey;
  text-align: center;
}

.small {
  font-size: .9rem;
}

.medium {
  font-size: 1rem;
  margin-top: 20px;
  color: #666;
}

.submitButton {
    background: $primaryColor;
    border-radius: 8px;
    padding: 6px 18px;
    float: right;
    text-align: center;
    border: none;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 12px;

    font-size: .8rem;
    font-family: Karla;
    font-weight: 300;
    color: #FFF !important;
    outline-style: none;

    &:active {
        outline-style: none;
    }

    &:hover {
        cursor: pointer;
        background: lighten($primaryColor, 6);
    }
}



p {
  color: #666;
  font-size: .8rem;
  font-weight: 700;
  font-family: Karla;
  margin: 4px;
}

.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 3px;

  label {
    color: #666;
    font-size: .65rem;
    margin-right: 6px;
    margin-bottom: 0;
    min-width: 22%;
  }

  input {
    // border-radius: 0px;
    outline-style: none;
    font-size: .75rem;
    color: #666;
    flex: 1;
    font-family: Karla;
  }
}

.formBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 10px;
  border: 1px solid $borderColor;
  border-radius: 4px;
}

#feedbackBtn {
  font: {
    weight: 700;
    size: .9rem;
  }
  color: #AAA;
  width: 100%;
  text-align: center;
  padding-bottom: 12px;
  border: solid 1px $borderColor;
  display: block;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 8px auto;
  padding: 12px 10px;
  cursor: pointer;

  &:hover {
    color: #666;
    border-color: darken($borderColor, 5);
  }

  @media (max-width: 768px) {
    flex-basis: 33%;
    margin: auto 0;
  }
}

#fbInput {
  border: solid 1px $borderColor;
  width: 100%;
}

.cancelCross {
    color: #CCC;
    font-size: 1.1rem;
    display: block;

    &:hover {
        cursor: pointer;
        color: #666;
    }
}

.valError {
  color: #ff6969;
  font-size: .8rem;
  font-weight: 400;
  margin: 4px 0 6px 0;
  text-align: center;
  width: 100%;
}

.fbCont {
  @media (max-width: 768px) {
      margin-top: 8px !important;
    }
}

.rpnHolder {
  visibility: hidden;
  margin-bottom: -14px;
}

